.article {
    &__header {
        padding-top: 34px;

        @media #{$onlyphone}{
            padding-top: 10px;
        }
    }
    
    &__title {
        text-align: center;
        position: relative;
        padding-bottom: 7px;

        h2 {
            font-size: 32px;
            color: #6f6f6f;

            @media #{$onlyphone}{
                font-size: 22px;
            }
        }

        &:after {
            background-color: #0c6ebe;
            width: 100px;
            height: 3px;
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -50px;

            @media #{$onlyphone}{
                height: 2px;
            }
        }
    }
}