.form {
    max-width: 410px;
    margin: 0 auto;

    &__header {
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
    }

    &__footer {
        text-align: center;
        padding-top: 9px;
    }

    &__disclamer {
        color: #919191;
        font-size: 13px;
        padding-top: 10px;
    }

    &__icons-wrap {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    &__icons-item {
        width: 50%;
        display: table-cell;
        vertical-align: top;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        @media #{$phone}{
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    &__icons-name {
        font-size: 13px;
        margin-top: 6px;
        color: #05589c;
    }

    &__icons-icon {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 3px solid transparent;
        display: block;
        padding: 14px;
        margin: 0 auto;
        box-sizing: border-box;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__icons-wrap_light &__icons-icon {
        background: url("bg-pattern-lines.jpg#datauri") repeat 0 0 #fff;
        border-color: #05589c;
    }

    &__icons-wrap_gold &__icons-icon {
        background-color: #fff;
        border-color: #fff;
    }

    &__icons-wrap_light {
        .clr-gold & {
            display: none;
        }
    }

    &__icons-wrap_gold {
        display: none;

        .clr-gold & {
            display: block;
        }
    }

    .error {
        color: $error-color;
        font-size: 12px;
        position: absolute;
        left: 0;
        bottom: -18px;
        display: none;
    }

    &__item {
        margin-bottom: 20px;
        position: relative;
    }

    &__item.has-error {
        .error {
            display: block;
        }
    }

    &__item.has-error &__control {
        border-color: $error-color;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    &__item.has-complete {
        &:after {
            $height: 13px !default;
            content: "";
            background: url('checked.svg#datauri') no-repeat 0 0 transparent;
            width: 16px;
            height: $height;
            display: block;
            pointer-events: none;
            position: absolute;
            right: 14px;
            top: 50%;
            margin-top: -($height / 2);
        }
    }

    &__item.has-complete &__control {
        border-color: #68bb2d;
    }

    &__control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 6px 42px 6px 12px;
        font-size: 18px;
        line-height: $line-height-base;
        color: $gray-dark;
        background-color: $white;
        background-image: none;
        border: 1px solid #008dcd;
        border-radius: 3px;
        box-sizing: border-box;
        @include placeholder(#7c7c7c);

        &::-ms-expand {
            border: 0 none;
            background-color: transparent;
        }

        &[disabled],
        &[readonly] {
            background-color: $bgcolor-base;
            opacity: 1;
        }

        &[disabled] {
            cursor: $cursor-disabled;
        }

        &:focus {
            border-color: darken(#008dcd, 10%);
            outline: 0 none;
        }
    }

    .btn_submit {
        width: 100%;
    }
}