.app {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.app-header,
.app-content {
  position: relative;
}

.app-content {
  height: 100%;
}

.header-top {
  background: linear-gradient(to bottom, #383838 0%, #383838 40%, #1a1a1a 44%, #070707 100%);
  width: 100%;
  height: 21px;
  min-height: 21px;
  padding-top: 3px;
  &__inner {
    max-width: 1000px;
    width: auto;
    margin: 0 auto;
    @include clearfix;
  }
  &__nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    @include clearfix;
    &+ .header-top__nav {
      margin-left: 45px;
    }
    &--last {
      float: right;
    }
    > li {
      display: block;
      float: left;
      position: relative;
      a, span {
        display: block;
        position: relative;
      }
      > a {
        padding: 0 10px;
        color: $white;
        font-size: 10px;
        height: 11px;
        line-height: 100%;
        margin: 0;
        text-transform: uppercase;
      }
    }
    &--lang {
      > li {
        &:first-child {
          > a {
            padding-left: 0;
          }
        }
        > a {
          padding: 0 19px;
        }
        &+ li {
          border-left: 1px solid $white;
        }
      }
    }
    &--links {
      .dropdown-menu {
        background: none;
        border: 0 none;
        width: 280px;
        padding: 0;
        margin: 0;
        box-shadow: none;
        top: 18px;
      }
    }
  }
}
.dropdown-menu {
  .bg-rus {
    background: url("../i/cross_line.gif") repeat 0 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: $gray;
    padding: 20px 19px;
  }
  a {
    background-color: $white;
    color: $color-base;
    height: auto;
    display: block;
    padding: 0 10px 10px;
    text-transform: uppercase;
    &+ a {
      margin-top: 5px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 0;
  }
  h5 {
    font-family: $font-interstate-reg, Arial;
    font-size: 12px;
    margin: 0;
    padding: 10px 0 5px;
  }
}
.quick-search {
  background-color: $white;
  border-radius: 3px;
  min-width: 245px;
  height: 15px;
  margin-left: 8px;
  position: relative;
  .icon-search-top {
    margin-top: -6px;
    position: absolute;
    left: 3px;
    top: 50%;
  }
  &__btn {
    background-image: none;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    border-left-color: $gray;
    background: none;
    font-size: 10px;
    line-height: 100%;
    color: $gray-dark;
    white-space: nowrap;
    padding: 1px 4px 3px;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    float: right;
  }
  .quick-search__input,
  .gsc-search-button {
    border: 0 none;
    padding-left: 12px;
    margin-left: 5px;
    width: 100%;
    max-width: 189px;
    height: 15px;
    color: $gray-dark;
    font-size: 10px;
    float: left;
  }
}
.app-header-wrap {
  background: -webkit-linear-gradient(top, $linear-gradient);
  background: linear-gradient(to bottom, $linear-gradient);
  &__inner {
    max-width: 1000px;
    margin: 0 auto;
    height: 119px;
    padding-top: 29px;
  }
}
.brand {
  display: inline-block;
  margin-left: 9px;
  > img {
    max-width: 100%;
    height: auto;
  }
}
.touch-navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  float: right;
  &__item {
    width: 93px;
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    a {
      width: 100%;
      height: 43px;
      color: $white;
      font-family: Arial;
      font-size: $font-size-xs;
      font-weight: bold;
      line-height: 60px;
      display: block;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &.icon-lock {
      background:url('../i/touch-menu-lock.png') no-repeat left top;
      &:hover {
        background-color: #13abe6;
      }
      a {
        padding-left: 37px;
      }
    }
    &.icon-menu {
      background: url('../i/touch-menu-main.png') no-repeat left top;
      &:hover {
        background-color: #13abe6;
      }
      a {
        padding-left: 30px;
      }
    }
  }
}

.ico-caret {
  display: none;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $white transparent transparent transparent;
  }
}
@media #{$laptop} {
  .app {
    min-width: 320px;
  }
  .header-top {
    background: url('../i/topBgMobile.jpg') repeat-x left center transparent;
    height: 22px;
    font-family: Arial;
    &__nav--lang {
      margin-top: 2px;
      margin-left: 30px;
      > li {
        > a {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    &__nav--last {
      display: none;
    }
    &__nav--links {
      float: right;
      .dropdown-toggle {
        background: url('../i/important-links.png') no-repeat right top;
        width: 34px;
        height: 15px;
        margin-right: 10px;
        position: relative;
        span {
          display: none;
        }
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          border-color: $white transparent transparent transparent;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -2px;
        }
      }
      .dropdown-menu {
        max-width: 195px;
        background-color: #fdfdfd;
        border: 2px #00609a solid;
        border-radius: 10px;
        padding: 10px;
        margin-top: 13px;
        right: 0;
        left: inherit;
        .bg-rus {
          background: none #fdfdfd;
          border-radius: 0;
          padding: 0;
          border: 1px #ccc solid;
          box-shadow: none;
          font-size: 12px;
          font-family: Arial;
          a {
            background-color: #f7f7f7;
            color: #74808c;
            padding-top: 10px;
            &+ a {
              border-top: 1px solid #ccc;
              margin-top: 0;
            }
            &:hover {
              background-color: #3798cb;
              color: $white;
              h5 {
                color: $white;
              }
            }
          }
        }
        h5 {
          color: #74808c;
          font: bold 12px Arial;
          padding: 0;
        }
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 12.5px 13px 12.5px;
          border-color: transparent transparent #005f9a transparent;
          position: absolute;
          right: 20px;
          top: -13px;
        }
      }
      > li {
        display: none;
        &.dropdown {
          display: block;
        }
      }
    }
  }
  .app-header-wrap {
    background: url('../i/bg-header-touch.jpg') repeat-x left top;
    &__inner {
      height: 43px;
      padding-top: 0;
    }
  }

  .brand {
    margin-left: 20px;
    margin-top: 6px;
    width: 45px;
  }
}