// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  white-space: nowrap;
  box-sizing: border-box;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: 0 none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $color-base;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
  }

}
.btn_default {
  @include button-variant($color-panel, $white, $input-border);
}

.btn_white {
  @include button-variant(#004785, $white, $white);
}

.btn_primary {
  @include button-variant($white, #ae9054, #ae9054);
}

.btn_submit {
  color: $white;
  border: 0 none;
  background: linear-gradient(to bottom, #68bb2d 0%, #329b00 100%);
  border-radius: 3px;
  &:hover,
  &:focus,
  &.focus {
    color: $white;
    background: linear-gradient(to bottom, darken(#68bb2d, 10%) 0%, darken(#329b00, 10%) 100%);
  }
}

.btn_lg {
  @include button-size(10px, 28px, 20px, 1.3333333);

  @media #{$tablet}{
    @include button-size(8px, 20px, 16px, 1.428571429);
  }
}
.btn_md {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-h6, $line-height-md);
}
.btn_sm {
  @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-base, $line-height-md);
}
/*
.btn_xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $line-height-small);
}*/

.btn_rounded {
  border-radius: 3px;
}
