include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	block analitics
		-var connonicalPage = '';
	include ../head/head
	+page
		.app
			.app-content
				.app-header
					.container
						#header
							script(src='https://www.citibank.ru/russia/js/plugins/rus/header.js')
				.main-content
					block heading
					.wrap-content
						block content

			include ../Widgets/footer/footer
		include ../Widgets/modal/modal

		+scripts(['vendor/slick.min.js', 'vendor/waypoints.min.js', 'vendor/jquery.counterup.min.js', 'vendor/jquery.maskedinput.min.js', 'vendor/jquery.nicescroll.min.js', 'vendor/collapse.min.js', 'vendor/jquery.directional-hover.min.js', 'slider.js', 'main.js', 'validate.js'])
		block scripts
		include ../analitics/analitics