@font-face {
  font-family: $font-interstate-bold;
  src: url($font-path + $font-interstate-bold + ".eot?v=#" + $font-icon-version);
  src: url($font-path + $font-interstate-bold + ".eot?#iefix&v=#") format("embedded-opentype"), url($font-path + $font-interstate-bold + ".woff?v=#" + $font-icon-version) format("woff"), url($font-path + $font-interstate-bold + ".ttf?v=#" + $font-icon-version) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: $font-interstate-reg;
  src: url($font-path + $font-interstate-reg + ".eot?v=#" + $font-icon-version);
  src: url($font-path + $font-interstate-reg + ".eot?#iefix&v=#" + $font-icon-version) format("embedded-opentype"), url($font-path + $font-interstate-reg + ".woff?v=#" + $font-icon-version) format("woff"), url($font-path + $font-interstate-reg + ".ttf?v=#" + $font-icon-version) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: $font-interstate-light;
  src: url($font-path + $font-interstate-light + ".eot?v=#" + $font-icon-version);
  src: url($font-path + $font-interstate-light + ".eot?#iefix&v=#" + $font-icon-version) format("embedded-opentype"), url($font-path + $font-interstate-light + ".woff?v=#" + $font-icon-version) format("woff"), url($font-path + $font-interstate-light + ".ttf?v=#" + $font-icon-version) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: $font-opensans-light;
  src: url($font-path + $font-opensans-light + ".eot?v=#" + $font-icon-version);
  src: url($font-path + $font-opensans-light + ".eot?#iefix&v=#" + $font-icon-version) format("embedded-opentype"), url($font-path + $font-opensans-light + ".woff?v=#" + $font-icon-version) format("woff"), url($font-path + $font-opensans-light + ".ttf?v=#" + $font-icon-version) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: $font-ptrouble;
  src: url($font-path + $font-ptrouble + ".eot?v=#" + $font-icon-version);
  src: url($font-path + $font-ptrouble + ".eot?#iefix&v=#" + $font-icon-version) format("embedded-opentype"), url($font-path + $font-ptrouble + ".woff?v=#" + $font-icon-version) format("woff"), url($font-path + $font-ptrouble + ".ttf?v=#" + $font-icon-version) format("truetype");
  font-weight: normal;
}
