* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  font-family: $font-interstate-light, Arial, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  background-color: $bgcolor-base;
  @include clearfix;

  > img {
    display: none;
  }

  > iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

.clearfix {
  @include clearfix;
}

.rubl {
  &::after {
    display: inline-block;
    margin-left: 2px;
    font-family: $font-ptrouble;
    font-size: 110%;
    content: "5";
  }
}
