// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $color-base;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
  .small, small {
    font-size: 65%;
  }
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 ($line-height-computed / 2);
}

b, strong {
  font-family: $font-interstate-bold, Arial;
  font-weight: normal;
}

a:focus {
  outline: 0 none;
}

.font-reg {
  font-family: $font-interstate-reg, Arial;
}
.font-light {
  font-family: $font-interstate-light, Arial;
}
.font-bold {
  font-family: $font-interstate-bold, Arial;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}
