// media queries
$desktop: "screen and (min-width: 1200px)" !default;
$smalldesktop: "screen and (max-width: 1199px)" !default;
$laptop: "screen and (max-width: 1019px)" !default;
$tablet: "screen and (max-width: 767px)" !default;
$phone: "screen and (max-width: 479px)" !default;

$onlydesktop: "screen and (min-width: 1200px)" !default;
$onlysmalldesktop: "screen and (min-width: 1020px) and (max-width: 1199px)" !default;
$onlylaptop: "screen and (min-width: 768px) and (max-width: 1019px)" !default;

$onlytablet: "screen and (min-width: 480px) and (max-width: 767px)" !default;
$onlyphone: "screen and (max-width: 479px)" !default;

$onlydevice: "screen and (max-width: 767px)" !default;
$nodevice: "screen and (min-width: 1020px)" !default;
$nophone: "screen and (min-width: 480px)" !default;

//grid
$grid-columns: 12 !default;
$gutter-width: 40px !default;
$grid-gutter-width: 20px !default;
$grid-gutter-width-xs: 60px !default;
$grid-gutter-width-md: 80px !default;

//Container sizes
// Small screen / tablet
$container-tablet: (720px + $grid-gutter-width-xs) !default;
//** For `$screen-sm-min` and up.
$container-sm: $container-tablet !default;
// Medium screen / desktop
$container-desktop: (940px + $grid-gutter-width-md) !default;
//** For `$screen-md-min` and up.
$container-md: $container-desktop !default;
// Large screen / wide desktop
$container-large-desktop: (1252px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop !default;

//== Typography
$font-icon-version: 1 !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-path: "../fonts/" !default;
$font-interstate-bold: "Interstate_bold" !default;
$font-interstate-reg: "Interstate_reg" !default;
$font-interstate-light: "Interstate_light" !default;
$font-opensans-light: "Opensans_light" !default;
$font-ptrouble: "PTRoubleSans" !default;
$font-size-xs: 12px !default;
$font-size-sm: 13px !default;
$font-size-base: 14px !default;
$font-size-md: 15px !default;
$font-size-lg: 16px !default;
$font-size-rate-percent: 48px !default;
$font-size-rate-percent-sm: 36px !default;

$font-size-h1: 38px !default;
$font-size-h2: 30px !default;
$font-size-h3: 24px !default;
$font-size-h4: 22px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;
$title-leftnav: 24px !default;
$line-height-base: 1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-content: 25px !default;
$line-height-content-lg: 30px !default;
$line-height-content-exlg: 35px !default;
$headings-font-family: inherit !default;
$headings-font-weight: normal !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

//Colors
$linear-gradient-start: #00bdf2 !default;
$linear-gradient-end: #004785 !default;
$linear-gradient: $linear-gradient-start 0%, #00b3f0 20%, #0066b3 75%, $linear-gradient-end 100% !default;
$white: #fff !default;
$black: #000 !default;
$color-base: #4c4c4c !default;
$gray: #666 !default;
$gray-dark: #333 !default;
$gray-lighter: #f2f2f2 !default;
$bgcolor-base: #f7f9fb !default;
$bgcolor-menu: #00569f !default;
$color-blue: #0258a0 !default;
$color-blue-light: #53a3d9 !default;
$color-blue-lighter: #00bdf2 !default;
$color-blue-lighter-2: #0dbff2 !default;
$color-left-menu: #424242 !default;
$color-left-submenu: #8c8c8c !default;
$color-left-menu-arrow: #b3b3b3 !default;
$color-border-quotes: #b2b2b2 !default;
$color-gray-ccc: #ccc !default;
$color-gray-fcfcfc: #fcfcfc !default;
$bgfooter-color: #f7f7f7 !default;
$border-panel: #e6e6e6 !default;
$color-panel: #999 !default;
$color-menu-arrow: #767676 !default;
$color-border-tabs: #e6e7e9 !default;
$color-panel-title: #22589f !default;
$border-tabs-left: #e5e5e5 !default;
$input-border: #dcdcdc !default;
$color-svg-fill: #1ebbee !default;
$color-green: #69ca7f !default;
$color-gold: #b5995c !default;
$color-green-lighter: #aee582 !default;
$color-gold-lighter: #f3d38d !default;
$color-red-lighter: #fdadab !default;
$bg-scroller-handle: #6691b6 !default;
$color-graph-description: #717073 !default;
$error-color: #e51b23 !default;
$dl-title: #4d4d4d !default;
$color-rate-title: #808080 !default;
$border-content-rate: #d0e1ec !default;
$blue-scroll: #7ea9cd !default;
$gray-scroll: #6691b6 !default;
$border-formula-item: #e8ebed !default;
$bgcolor-graph: #fafafa !default;
$bgcolor-blue-lt: #00bcf2 !default;
$color-axis-path: #959595 !default;


$link-color: #00569f !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: underline !default;
$link-active-color: $link-color !default;
$link-visited-color: #014f91 !default;

$thumbnail-caption-padding: 9px !default;

//== Input
$input-height-base: 40px;
$padding-input-vertical: 6px !default;
$padding-input-horizontal: 12px !default;

$cursor-disabled: not-allowed !default;
$caret-width-base: 4px !default;
$caret-width-large: 5px !default;

//== Buttons
$padding-base-vertical: 4px !default;
$padding-base-horizontal: 25px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$padding-md-vertical: 8px !default;
$padding-md-horizontal: 25px !default;
$line-height-md: 1.428571429 !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;
$line-height-small: 1.5 !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 28px !default;
$line-height-large: 1.3333333 !default;

$border-radius-base: 0 !default;
$border-radius-25: 25px !default;
$input-border-radius: 3px !default;
$btn-font-weight: normal !default;
$btn-default-bg: #f7f7f7 !default;
$btn-default-border: #e6e6e6 !default;
$btn-success-color: $white !default;
$btn-success-bg: $link-color !default;
$btn-success-border: $link-color !default;
$btn-border-radius-base: $border-radius-base !default;

//== Z-index
$zindex-dropdown: 1000 !default;
$zindex-modal: 1050 !default;
$form-group-margin-bottom: 30px !default;

//== Sprites svg
$mq-base-font-size: 14px !default;
