.app-footer {
    background-color: #fff;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;

    @media #{$onlydevice}{
        font-size: 11px;
        line-height: 15px;
    }

    &__nav {
        max-width: 1440px;
        margin: 0 auto;

        a {
            color: #05589d;
            text-decoration: none;
            white-space: nowrap;

            @media #{$onlydevice}{
                color: #666;
            }
        }

        ul {
            @include clearfix;
            float: right;
            text-transform: uppercase;
            margin: 0;
            padding-left: 0;
            list-style: none;

            @media #{$onlydevice}{
                float: none;
                text-transform: inherit;
            }

            li {
                float: left;
                margin-right: 15px;

                @media #{$onlydevice}{
                    margin: 0 10px 5px 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__logo {
        @media #{$onlydevice}{
            width: 22px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .seo-disclaimer {
        color: #999;
        padding: 25px 0;

        @media #{$onlydevice}{
            padding: 15px 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .copyrights {
        margin-top: 10px;
        padding-bottom: 15px;

        &__list {
            float: right;
            text-align: right;
            color: #666;

            @media #{$onlydevice}{
                float: none;
                text-align: left;
                margin-bottom: 10px;
            }
        }

        p {
            margin-bottom: 0;
        }
        
        a {
            color: #666;
            text-decoration: none;
            border-bottom: 1px solid #d9d9d9;
        }
    }
}