.dh-container {
    position: relative;
    overflow: hidden
}
.dh-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    background: rgb(5, 88, 156);
    text-align: center;
    line-height: 300px;
    color: #fff;

    @media #{$tablet} {
        display: none;
    }

    .is-fixed & {
        display: none;
    }
}

.tabs {
    &__list-wrap {
        transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);

        &.is-fixed {
            background-color: #eee;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: 50;
         
            .container {
                @media #{$tablet}{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    &__list {
        overflow: hidden;
        text-align: center;
        line-height: 0;
        font-size: 0;
        padding-top: 23px;
        padding-bottom: 65px;

        @media #{$tablet}{
            padding-bottom: 20px;
        }

        .is-fixed & {
            width: 100%;
            display: table;
            table-layout: fixed;
            padding: 0;
        }
    }

    &__item-wrap {
        background-color: #eeeeee;
        height: 166px;
        width: 264px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        cursor: pointer;

        @media #{$tablet}{
            width: 46%;
            height: 120px;
            margin-left: 2%;
            margin-right: 2%;
        }

        @media #{$phone}{
            height: 100px;
        }
        // @media #{$tablet}{
        //     width: 100%;
        //     height: 76px;
        //     margin: 0 0 20px;
        // }

        &:hover, &:focus, &:active {
            animation-name: hvr-wobble-vertical;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }

        &.is-active {
            background-color: #05589C;

            &:hover, &:focus, &:active {
                .is-fixed & {
                    animation: none;
                }
            }
        }

        .is-fixed & {
            width: 1%;
            height: 76px;
            display: table-cell;

            @media #{$phone}{
                height: 60px;
            }
        }
    }

    &__item {
        width: 100%;
        height: 166px;
        position: relative;
        z-index: 5;

        @media #{$tablet}{
            height: 120px;
        }

        @media #{$phone}{
            height: 100px;
        }
        // @media #{$tablet}{
        //     height: 76px;
        //     display: table;
        //     table-layout: fixed;
        // }

        .is-fixed & {
            height: 76px;
            display: table;
            table-layout: fixed;

            @media #{$phone}{
                height: 60px;
            }
        }
    }

    &__item-wrap.is-active &__item-text, &__item-wrap:hover &__item-text {
        color: #fff;
    }

    &__item-wrap:hover &__item-text {
        .is-fixed & {
            color: #4c4c4c;
        }
    }

    &__item-wrap.is-active:hover &__item-text {
        .is-fixed & {
            color: #fff;
        }
    }

    &__item-wrap.is-active &__item-text:after {
        display: block;

        @media #{$tablet}{
            display: none;
        }

        .is-fixed & {
            display: none;
        }
    }

    &__item-wrap.is-active &__item-icon, &__item-wrap.is-active:hover &__item-icon {
        fill: #00beff;
    }

    &__item-wrap.is-active &__item-icon, &__item-wrap.is-active:hover &__item-icon {
        .is-fixed & {
            fill: #fff;
        }
    }
    
    &__item-wrap:hover &__item-icon {
        fill: #fff;

        .is-fixed & {
            fill: #464951;
        }
    }

    &__item-icon-wrap {
        display: inline-block;
        width: 100%;
        margin: 18px 0 24px;

        // @media #{$tablet}{
        //     display: table-cell;
        //     width: 90px;
        //     vertical-align: middle;
        // }

        @media #{$phone}{
            margin-bottom: 14px;
        }

        .is-fixed & {
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            margin: 20px 0;

            @media #{$phone}{
                display: none;
            }
        }
    }
    
    &__item-icon {
        width: 150px;
        height: 70px;
        fill: rgb(70, 73, 81);

        @media #{$tablet}{
            width: 70px;
            height: 32px;
        }

        .is-fixed & {
            width: 70px;
            height: 32px;
        }
    }

    &__item-text {
        font-size: 22px;
        line-height: 1.1;
        position: relative;
        display: inline-block;
        vertical-align: top;

        // @media #{$tablet}{
        //     display: table-cell;
        //     vertical-align: middle;
        //     text-align: right;
        //     padding-right: 20px;
        // }

        @media #{$phone}{
            font-size: 16px;
        }

        .is-fixed & {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;

            @media #{$phone}{
                text-align: center;
                display: table-cell;
            }
        }

        &:after{
            background-color: #00beff;
            width: 60px;
            height: 3px;
            content: '';
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -30px;
            display: none;
        }
    }
}