﻿  #gssSearchBox, .gsc-control-searchbox-only  {
	height: 15px;
  }
  .gcsc-branding, .gsc-clear-button, .gsib_b {
	display: none !important;
  }
  .gsc-control-cse {
    font-family: Arial, sans-serif !important;
	vertical-align: bottom !important;
  }
  .gsc-control-cse .gsc-table-result {
    font-family: Arial, sans-serif !important;
  }
  table.gsc-search-box {
	height: 15px;
	margin: 0px !important; 
	width: 72% !important; 
  }  
  form.gsc-search-box, input.gsc-input, .gsc-completion-container {
	font-size: 10px !important;
	margin: 0px !important;
	width: 100% !important; 
  }
  td.gsib_a, td.gsc-input{
	padding: 0px !important;
	width: 100% !important; 
  }
  td.gsc-search-buttons {
	display: none;
  }
  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
	background-image:none !important;
	border:none !important;
	height: 15px !important;
	margin: 0 !important;
  }
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-image: none !important;
  /*  filter: none !important;*/
	display: none !important;
	border:none !important;
	
	
  }

.Search1 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    max-height: 15px;
    height: 15px;

}
.S1 {
    background: url("../images/sprite_all.png") no-repeat scroll 4px -204px transparent;
    float: left;
    height: 15px;
    width: 20px;
    max-height: 15px;
    max-width: 20px;
}
.S2 {
    float: left;
    height: 15px;
}
.S2 input {
    border: medium none;
    height: 15px;
    max-height: 15px;
    padding: 0;
    width: 190px;
    max-width: 190px;
    float:left;
    font-size:10px;
    
}
.S3eng {
    float: left;
    max-height: 15px;
    height: 15px;
}
.S3eng input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 10px;
    height: 15px;
  
    padding: 0;
    float:left;
    width: 30px;
    max-width: 30px;
}
.S3rus {
    float: left;
    max-height: 15px;
    height: 15px;
}
.S3rus input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 10px;
    height: 15px;
   
    padding: 0;
    float:left;
    width: 60px;
    max-width: 60px;
}
.gsc-search-button.gsc-search-button-v2{
	display:none;
}
.gsib_a{
	padding:0 !important;
}
#gssSearchBox {
    height: 15px;
    max-height: 15px;
    max-width: 180px;
    width: 180px;
    font-size:10px;
    }
.gsc-input-box{
	height:15px !important;
	max-height:15px !important;
	border:0 !Important;
	width:180px !important;
	max-width:180px !important;
	background:none;
}
.S2Search{
}
.gscb_a {
    display: none;
}
.gsib_b {
    display: none;
}
.gsc-input {
    font-size: 10px !important;
}
.gsc-input-box:hover{
	background:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
.gsc-input-box:active{
	background:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
.gsc-input-box:focus{
	background:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}

#gsc-i-id1{
	background:none repeat scroll 0 0 transparent !important;
}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
