.menu-touch {
	list-style:none;
	margin:0px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
	z-index:6;

}
.menu-touch li {
	float:left;
	text-align:center;
	position:relative;
	margin-right:20px;
	margin-top:0px;
	
	z-index:7;
	
	
}
.menu-touch li.fullwidth {
	position: static !important;
}
.menu-touch li:hover {
	background:#0DAEE6;
	margin-right:20px;
}
.dropdown_citigold li:hover{ background:#BAA069 !important}
.menu-touch li.nodrop:hover {
	background:#161616;
	border:1px solid #000000;
	padding: 4px 10px 4px 9px;

}
.menu-touch li.nodrop:hover a {
	padding: 0px;
}
.menu-touch li a {
	color:#FFF;
	font-weight:bold;
	outline:0;
	padding: 0px 10px 3px 10px;
	text-decoration:none;
	display:block;
	
	
	
}
.menu-touch li:hover a {
	color:#ffffff;
	text-shadow: none;
	position:relative;
	z-index:11;
	
}

.menu-touch li.productShow .show-down
{background:url("../i/arrow-white-down.png") no-repeat right; background-position:90% 15px;}
.menu-touch li.productShow  .show
{background:url("../i/arrow-white-up.png") no-repeat right; background-position:90% 15px;}
.menu-touch li:hover div a {
	display:inline;
}
.menu-touch li .drop {
	padding-right:5px;
	/*background:url("img/drop_dark.png") no-repeat right 13px;*/
	width: 100%;
text-align: center;
margin-top: 10px;
height: 30px;
padding-left:12px;
cursor:pointer;
}
.menu-touch li:hover .drop {
	padding-right:5px;
	/*background:url("img/drop_dark.png") no-repeat right 12px;*/
}

/* Right aligned menu-touch item */

.menu-touch .right {
	float:right;
	right:0;
	margin-right:0px;
	
}
.menu-touch li.right:hover {
	margin-right:0px;
	background-image:url(../images/nav-top.gif);
}


.menu-touch .levels li,
.menu-touch .levels2 li {float: left;width: 100%; /* display:block !important; */ border-bottom: 1px solid #015095;}
/*  _______________________________________

	02 DROP DOWN menu-touch
    _______________________________________  */



/* Left & right aligned common styles */

.menu-touch .dropdown_1column,
.menu-touch .dropdown_2columns,
.menu-touch .dropdown_fullwidth {
	margin:18px auto;
	right:0;
	top:25px;
	position:absolute;
	background-color:#0171BD;
	padding:0px;
	text-align:left;
	display: block;
}
.menu-touch .dropdown_citigold
{
	margin:18px auto;
	right: 0px;
	position:absolute;
	background:#7C6433;
	padding:0px;
	text-align:left;
	
}


/* Drop Downs Sizes */

.menu-touch .dropdown_1column {width:100%; max-width: 280px;}
.menu-touch .dropdown_fullwidth {
	width: 920px;
}
.menu-touch li .first_fullwidth {

}

/* Showing Drop Down on Mouse Hover - Left aligned */

.menu-touch li:hover .dropdown_1column,
.menu-touch li:hover .dropdown_2columns,
.menu-touch li:hover .dropdown_3columns,
.menu-touch li:hover .dropdown_4columns,
.menu-touch li:hover .dropdown_5columns {
	left:-1px;
	top:25px;
}
.menu-touch li:hover .dropdown_fullwidth {
	left:21px;
	top:33px;
	display: block;
}

/* Showing Drop Down on Mouse Hover - Right aligned */

.menu-touch li .align_right {
	/* Rounded Corners */

}
.menu-touch li:hover .align_right {
	left:auto;
	right:0px;
	top:25px;
}
.menu-touch li.right:hover .dropdown_fullwidth {
	right:18px;
	top:33px;
}

/* Columns Sizes */

.menu-touch .col_1,
.menu-touch .col_2,
.menu-touch .col_3,
.menu-touch .col_4,
.menu-touch .col_5,
.menu-touch .col_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
}

.menu-touch .col_2 {width:240px;
}

/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu-touch .firstcolumn {
	margin-left: 0; /* Clearing margin & left */
	clear: left;
}



/*  _______________________________________

	03 CONTENT STYLING
    _______________________________________  */



.menu-touch p,
.menu-touch ul,
.menu-touch li,
.menu-touch h2,
.menu-touch h3 {
	color:#ffffff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
	text-align:left;
}
.menu-touch p {
	font-size:12px;
	line-height:18px;
	margin:0;
	margin-bottom:10px;
	text-shadow:1px 1px #000000;
}
.menu-touch .strong {
	font-weight:bold;
}
.menu-touch .italic {
	font-style:italic;
}
.menu-touch h2,
.menu-touch h3 {
	text-shadow:1px 1px #000000;
	border-bottom:1px solid #333333;
	margin-top:7px;
}
.menu-touch h2 {
	font-weight:400;
	font-size:21px;
	margin-bottom:18px;
	padding-bottom:11px;
}
.menu-touch h3 {
	font-weight:600;
	font-size:14px;
	margin-bottom:14px;
	padding-bottom:7px;
}
.menu-touch li:hover div a {
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}
.menu-touch .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}


/* Standard lists styles */

.menu-touch li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
	
}
.menu-touch li ul li {
	color: #FFFFFF;
	font-family:arial;
	font-size: 13px;
	font-weight: bold;
	line-height:38px;
	position:relative;
	height:38px;
	margin:0;
	padding:0;
	float:left;
	text-align:left;
	width:100% !important;
	border-bottom:1px solid #015095;

}
.menu-touch li ul li a {
	padding:0;
	font-weight:bold;
	
}
.menu-touch li ul li:hover {
	background:none;
	border:none;
	border-bottom:1px solid #015095;
	
	margin:0;
}



.menu-touch .dropdown_citigold  li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu-touch .dropdown_citigold  ul li {
	color: #FFFFFF;
	font-family:arial;
	font-size: 13px;
	font-weight: bold;
	line-height:38px;
	position:relative;
	height:38px;
	margin:0;
	padding:0;
	float:left;
	text-align:left;
	/*width:auto;*/
	border-bottom:1px solid #86764B !important;
	
}
.menu-touch  .dropdown_citigold  li ul li a {
	padding:0;
	font-weight:bold;
}
.menu-touch .dropdown_citigold  li ul li:hover {
	background:none;
	border:none;
	border-bottom:1px solid #86764B;
	background-color:#86764B;
	margin:0;
}


/* 2-Levels Drop Down */

.menu-touch .levels, .menu-touch .levels ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu-touch .levels2, .menu-touch .levels2 ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 100%
}

 ul.submainul li{ /* all lists */
	padding: 0;
	margin-left: -20;
	list-style: none;
	color:red;
	background: #ccc;
	color: #666;
	line-height:30px;
}

.menu-touch .levels ul.submainul li a{ color: #666;line-height:16px;padding:8px 0 8px 23px; }
.menu-touch .levels ul.submainul li:hover{ background: #fff }
.dropdown_citigold ul.submainul li{background: #dbd1c2 !important; }
.dropdown_citigold ul.submainul li a{ padding-left: 35px !important; color: #666 !important;}
.dropdown_citigold ul.submainul li:hover{background: #fff !important;}
.menu-touch .levels
.menu-touch .levels li,
.menu-touch .levels2
.menu-touch .levels2 li
{padding:10px 5px 10px 5px;width:100%;}
.menu-touch li:hover .levels a {
	display:block;
}
.menu-touch .levels a,
.menu-touch .levels2 a {
	display: block;
	width: auto;
}
.menu-touch .levels a.parent, .menu-touch .levels a.parent:hover {
	background: url("img/drop2_dark.png") right center no-repeat;
}
.menu-touch .levels li,
.menu-touch .levels2 li {
	float: left;
	/*width:315px;*/ width:100%;
}
.menu-touch li ul li a{
	padding:10px 0 10px 15px !important; float:left;
}

.menu-touch .levels li ul { /* second-level lists */
	position: absolute;
	background:#161616;
	border:1px solid #000000;
	top:-23px;
	margin:15px 0px 0px 4px;
	padding:6px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background: -moz-linear-gradient(top, #161616, #0A0A0A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#161616), to(#0A0A0A));
	background: -o-linear-gradient(top, #161616, #0A0A0A);
	left: -999em;
}
.menu-touch .levels li ul ul {
	top:-23px;
}
.menu-touch .levels li:hover ul ul, .menu-touch .levels li:hover ul ul ul {
	left: -999em;
}
.menu-touch .levels li:hover ul, .menu-touch .levels li li:hover ul, .menu-touch .levels li li li:hover ul {
	left: 142px;
}



/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.menu-touch form {
	margin:0 0 12px 0;
	padding:0px;
}

/* Labels & fieldsets stylings */

.menu-touch fieldset {
	margin:0;
	border:none;
}
.menu-touch form p {
	margin:10px 0;
	overflow:hidden;
	width:270px;
}

.menu-touch label {
	float:left;
	display:block;
	text-align:left;
	width:50px;
}
.menu-touch input,
.menu-touch textarea {
	margin:0;
	width:170px;
	float:right;
	color:#eeeeee;
	background-color:#222222;
	border:1px solid #0A0A0A;
	padding:3px 5px 3px 5px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.menu-touch textarea {
	height:100px;
	overflow:auto;
}

/* Buttons stylings */

.menu-touch button {
	float:right;
	width:80px;
	margin:0px;
	margin-right:12px;
	border:1px solid #000000;
	padding: 2px 7px 2px 7px;
	color:#eeeeee;
	background-color:#222222;
	border:1px solid #0A0A0A;
	text-shadow: 1px 1px 1px #000;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}



/*  _______________________________________

	05 COLORS
    _______________________________________  */



/* Blue */

.menu_blue {
	border-bottom:1px solid #015095;

}
.menu_blue li:hover div a {
	color:#FFFFFF;
}
.menu_blue li:hover div a:hover {
	color:#FFFFFF;
}
.menu_blue li ul li a:hover {
	color:#FFFFFF;
}

@media screen and (max-width: 320px) {
	.iosSlider .slider .item .text3{ top: 150px }
.dropdown_1column {
    width: 175px;
}

/* .menu-touch .levels li {float: left;width: 100%; display:block !important; border-bottom: 1px solid #015095;} */

.menu-touch .col_2 { width: 240px; }


}


.mm-eng-banner {width:246px;border-radius:0 10px 0 0;margin-right:-1px;height:173px;display:block;float:right;}
