@import url("megamenu.css");
@media (min-width: 1024px){
  .app-header {
    background: url("../i/sprite_all.png") repeat-x 0 -32px;
  }
  .app-header:before {
    content: "";
    background: url("../i/sprite_all.png") repeat-x 0 -144px;
    width: 100%;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  .app-header:after {
    content: "";
    background: url("../i/bg-nav.jpg") repeat-x 0 0;
    width: 100%;
    height: 27px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  #header {
    position: relative;
    z-index: 1;
  }
  header figure, a.icon-lock, .nav-top, li.searchTool section.sTM, .v-fix span.logon, a.top-arrow, .spl_bottomborder, .applyNow, .navButton, .darkbluedot, .lightbluedot, .banlftpar_rus, .spl-divider .divd-text, .PhoneIcon, .lockSignOn {
    background-image: url("../i/sprite_all.png");
  }
  .nav-top {
    width: 100%;
    height: 22px;
    overflow: hidden;
    background-position: 0 -144px;
    background-repeat: repeat-x;
  }

  .nav-top ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-top .lft {
    width: 16%;
    float: left;
    margin-left: 29px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
  }
  .nav-top .lft li {
    font: 10px arial;
    color: #fff;
    float: left;
    text-transform: uppercase;
  }

  .nav-top .lft li a {
    font: 10px arial;
    color: #fff;
    float: left;
    padding: 0;
    text-decoration: none;
  }
  .nav-top .lft li span {
    padding: 0 14px 0 14px;
  }
  .nav-top .rht {
    float: left;
    margin-top: 3px;
    width: 645px;
    margin-right: 0;
    padding: 0;
  }
  #common-mob-tab-block {
    display: none;
  }
  .nav-top .rht li {
    font: 10px arial;
    color: #fff;
    float: left;
    text-transform: uppercase;
    padding-right: 16px;
    padding-top: 0px !important;
  }
  .nav-top .rht li a {
    color: #fff;
    float: left;
    font: 9px arial;
    padding-top: 2px;
    text-decoration: none;
  }
  .nav-top .rht li:last-child {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }
  section.nav-top .rht li:last-child {
    padding-top: 0px;
    margin-top: 0px !important;
  }
  .nav-top .rht li.search {
    padding-right: 0;
  }
  .S1 {
    background: url("../i/sprite_all_new.png") no-repeat 4px -204px;
    float: left;
    height: 15px;
    max-height: 15px;
    max-width: 20px;
    width: 20px;
  }
  .S2 {
    width: 125px;
  }
  .S3rus {
    float: left;
    max-height: 15px;
    height: 15px;
  }
  .S3rus input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 10px;
    color: #000;
    height: 15px;
    padding: 0;
    float: left;
    width: 60px;
    max-width: 60px;
  }
  #gssSearchBox {
    font-size: 10px;
    height: 15px;
    max-height: 15px;
    max-width: 180px;
    width: 135px;
  }
  .act-card {
    float: right;
    height: 22px;
    width: 149px;
    position: relative;
    padding-right: 0 !important;
    text-align: center;
    background-image: url("../i/green-btn.jpg");
  }
  .act-card a {
    color: #ffffff;
    line-height: 20px !important;
    margin-left: 15px;
    display: block;
    height: 22px;
    float: left;
    text-align: center;
    font-size: 10px;
  }
  .searchMobWrap {
    display: none;
  }
  .searchBoxWrap {
    display: none;
  }
  header figure {
    width: 100%;
    height: 84px;
    background-position: 0 -54px;
    background-repeat: repeat-x;
    margin: 0;
  }
  header figure img {
    border: 0 none;
    display: inline;
    margin: 24px 0 0 29px;
    padding: 0;
  }
  #nav-bg {
    margin: 0;
    padding: 0;
    float: left;
    background: url("../i/bg-nav.gif") repeat-x;
    width: 100%;
    height: 27px;
  }
  .cS-mainNav {
    height: 27px;
  }
  .megaMenuCnt {
    overflow: hidden;
    position: absolute;
    width: 950px;
    margin: 0 17px;
    z-index: 999;
  }
  .content-full-sec {
    width: 965px;
  }
  .megamenu {
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 8px;
    width: 300px;
    background-color: #FFF;
  }
  .mmContainer {
    top: -250px;
    position: absolute;
    margin-top: 8px;
    margin-left: 3px;
    width: 941px;
    font-size: 11px;
  }
  .mmContainerInner {
    overflow: hidden;
  }
  .mmContainer ul.mMenuList {
    float: left;
    width: 694px;
    padding: 16px 0 0;
  }
  ul.mMenuList li {
    float: left;
    line-height: 13px;
    list-style: none outside none;
    width: 204px;
    height: 157px;
    border-right: 1px dotted #333333;
    margin: 0 0 0 25px;
  }
  ul.mMenuList li ul {
    margin: 0;
    padding: 0;
  }
  ul.mMenuList li ul li {
    border: 0 none;
    height: auto;
    margin: 0;
  }
  ul.mMenuList li:last-child {
    border: none;
  }
  .mMenuList li h2 {
    font-size: 16px !important;
    color: #333333;
    font-family: Arial;
    font-weight: normal;
    margin: 0;
  }
  .mMenuList span {
    line-height: 17px;
  }
  .mMenuList li a {
    color: #333333;
    display: inline-block;
    text-decoration: none;
    padding: 3px 0;
    line-height: 13px;
  }
  .megaMenuCnt.content-full-sec li span a {
    padding: 2px 0;
  }
  .mmBottomArea {
    height: 39px;
    border-radius: 0 0 10px 10px;
    background-color: #EDEDED;
    color: #000000;
    padding: 11px 0 0 25px;
  }
  .grey-btm-wid {
    width: 100%;
    float: left;
  }
  .grey-btm-wid p {
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0;
  }
  .grey-btm-wid a {
    color: #3798CB;
    text-decoration: none;
  }
  .mega-bottom-rounded {
    width: 100%;
    height: 39px;
    background-color: #EDEDED;
    border-radius: 0 0 10px 10px;
    padding: 11px 0 0 25px;
    float: left;
    position: relative;
    overflow: hidden;
  }
  .mega-bottom-rounded p {
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0;
  }
  .mega-bottom-rounded a {
    color: #3798CB;
    text-decoration: none;
  }
  .mmSubArrow {
    background: url("../i/submenu-arrow.png") no-repeat 0 0 transparent;
    width: 69px;
    height: 14px;
    position: absolute;
    left: 48px;
    top: -6px;
  }
  .mmOfferrus,
  .mmOfferrus1 {
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 0 10px 0px 0;
    float: right;
    height: 183px;
    padding: 23px 32px 0;
    position: relative;
    text-align: right;
    width: 250px;
    max-width: 244px;
  }
  .emptyDiv {
    float: left;
    width: 21px;
    height: 27px;
  }
  .listNavMarketing {
    float: left;
    height: 27px;
    overflow: hidden;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .cS-mainNav li {
    float: left;
    display: inline-block;
    background-color: transparent !important;
    line-height: 16px;
  }
  .listNavMarketing li a,
  .listNavSignOn li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    float: left;
    padding: 5px 8px 5px 8px;
    height: 27px;
    text-decoration: none;
  }
  .listNavMarketing li a:hover {
    background: url("../i/mainNavActive.gif") repeat-x 0 0;
  }
  .listNavSignOn {
    background: url("../i/bg-signin.jpg") repeat-x 0 0 transparent;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
    height: 27px;
    width: 120px;
    padding: 0 10px 0 0;
    margin: 0;
  }
  .mar-lt49 {
    margin-left: 10px !important;
  }
  .userSignOn {
    background: url("../i/spriteView.png") repeat-x scroll 0 -802px;
    margin: 0px;
  }
  .listNavMarketingRt li a,
  .listNavSignOn li a {
    color: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    float: left;
    padding: 5px 4px 5px 4px;
    height: 17px;
    text-decoration: none;
    line-height: 15px;
  }
  .userSignOn .flyoutBtn {
    cursor: pointer;
    height: 26px;
    margin: 0;
    padding: 0 5px 0 12px;
    width: 113px;
  }
  .listNavSignOn .sml-btn {
    width: 125px !important;
  }
  .cS-mainNav .f10 li a {
    font-size: 12px !important;
  }
  .cS-lockSign {
    background-position: 0 center !important;
  }
  .cS-mainNav .f10 li span {
    font-size: 12px !important;
  }
  .userSignOn .flyoutBtn span.cS-lockSign {
    background: url("../i/icon-lock.png") no-repeat 0 7px;
    display: inline-block;
    float: left;
    height: 23px;
    width: 14px;
  }
  .cS-txtSign {
    padding: 3px 0 0 !important;
    color: white !important;
  }
  .userSignOn .flyoutBtn span.cS-txtSign {
    display: inline-block;
    float: left;
    padding: 5px 0;
  }
  .header-mob {
    display: none;
  }
  .fl {
    float: left !important;
  }
  .fr {
    float: right !important;
  }
  .heRig {
    overflow: hidden;
    clear: both;
  }
  .clear {
    clear: both;
  }
  .rtsacctive {
    background: url("../i/blackmenu_bg_over.gif") repeat-x 0 0;
    height: 22px;
  }
  .nav-top .dropdwn {
    width: 280px;
    position: absolute;
    top: 22px;
    margin-left: -14px;
    z-index: 9999;
  }
  .nav-top .shades {
    background: url("../i/blackmenu_dd_bg.png") repeat 0 0;
    height: 303px;
  }
  .nav-top .bg-rus {
    background: url("../i/cross_line.gif");
    color: #666666;
    font-size: 11px;
    width: 248px;
    padding: 20px 10px 20px 19px;
    margin-left: 15px;
    height: 303px;
  }
  .nav-top .bg-rus div a {
    padding: 0 10px 10px;
    width: 200px;
    background-color: #ffffff;
    margin-top: 5px;
  }
  .nav-top .bg-rus h3 {
    font-size: 12px;
    padding-top: 10px;
    margin: 0;
    color: #333333;
    font-weight: bold;
    line-height: 17px;
  }
  .nav-top .bg-rus p {
    line-height: 14px;
    font-size: 12px;
    color: #333333;
    margin-bottom: 0;
  }
  .nav-top .btmimage {
    height: 26px;
    width: 280px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .mar-lt49 {
    margin-left: 5px !important;
  }
}
@media (max-width: 1023px){
  .app-header .container {
    padding-right: 0;
    padding-left: 0;
  }
  .nav-top-wrapper:before,
  .nav-top-wrapper:after {
    content: "";
    display: table;
  }
  .nav-top-wrapper:after {
    clear: both;
  }
  .nav-top {
    background: url("../i/topBgMobile.jpg") repeat-x 0 center transparent;
    width: 100%;
    height: 24px;
    padding: 1px 0;
  }
  .nav-top ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  .nav-top .lft {
    float: left;
    margin-top: 3px;
    margin-left: 30px;
    margin-bottom: 0;
    padding: 0;
  }
  .nav-top .lft li {
    font: 10px arial;
    color: #fff;
    float: left;
    text-transform: uppercase;
  }
  .nav-top .lft li a {
    color: #fff;
    float: left;
    padding: 1px 0 0 0;
    text-decoration: none;
    font-size: 12px;
  }
  .nav-top .lft li span {
    padding: 0 14px 0 14px;
  }
  .rht {
    display: none;
  }
  .nav-top .rht {
    float: right;
    margin-top: 3px;
    margin-right: 30px;
    margin-bottom: 0;
    padding: 0;
  }
  .nav-top .rht li {
    font: 10px arial;
    color: #fff;
    float: left;
    text-transform: uppercase;
    padding: 1px 16px 0 0;
  }
  .nav-top .rht li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  ul.rht li.last {
    padding-right: 8px;
  }
  .importantLinks .dropLink {
    background: url("../i/spriteView.png") no-repeat -10px -352px;
    padding: 0 0 0 15px;
  }
  .importantLinks .dropdown {
    position: absolute;
    border: 2px #00609a solid;
    width: 185px;
    padding: 10px;
    z-index: 15;
    color: #74808c;
    top: 30px;
    right: -20px;
    border-radius: 10px;
    background: #fdfdfd;
    display: none;
  }
  .dropdownArrow {
    position: absolute;
    background: url("../i/dropDownarrow.png") no-repeat scroll 0 0 transparent;
    width: 25px;
    height: 13px;
    top: -13px;
    right: 20px;
  }
  .importantLinks .dropdown ul {
    width: 100%;
    border: 1px #ccc solid;
    border-bottom: 0;
  }
  .importantLinks .dropdown ul li {
    display: block;
    float: inherit;
    margin: inherit;
    padding: inherit;
    border-bottom: 1px #ccc solid;
    font-size: 16px;
  }
  .importantLinks .dropdown ul li a {
    color: #74808c;
    display: block;
    padding: 10px;
    background: #f7f7f7;
  }
  div.act-card {
    display: none;
  }
  #common-mob-tab-block {
    display: block;
  }
  .importantLinks {
    position: relative;
  }
  .ImpNewPad {
    display: none !important;
  }
  .nav-top .rht li {
    font: 10px arial;
    color: #fff;
    float: left;
    text-transform: uppercase;
    padding: 1px 16px 0 0;
  }
  ul.rht li.divideBar {
    font-size: 10.5px;
    margin: 0;
    padding: 0;
  }
  .importantLinks .dropLink {
    background: url("../i/spriteView.png") no-repeat -10px -352px;
    padding: 0 0 0 15px;
  }
  .nav-top .rht li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  .importantLinks .dropdown {
    position: absolute;
    border: 2px #00609a solid;
    width: 205px;
    padding: 10px;
    z-index: 15;
    color: #74808c;
    top: 30px;
    right: -20px;
    border-radius: 10px;
    background: #fdfdfd;
    display: none;
  }
  .dropdownArrow {
    position: absolute;
    background: url("../i/dropDownarrow.png") no-repeat scroll 0 0 transparent;
    width: 25px;
    height: 13px;
    top: -13px;
    right: 20px;
  }
  .importantLinks .dropdown ul {
    width: 100%;
    border: 1px #ccc solid;
    border-bottom: 0;
  }
  .importantLinks .dropdown ul li {
    display: block;
    float: inherit;
    margin: inherit;
    padding: inherit;
    border-bottom: 1px #ccc solid;
    font-size: 16px;
  }
  .importantLinks .dropdown ul li a {
    color: #74808c;
    display: block;
    padding: 10px;
    background: #f7f7f7;
    font-size: 12px;
  }
  .importantLinks .dropdown ul {
    width: 100%;
    border: 1px #ccc solid;
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }
  .searchMobWrap {
    background: #333;
    padding: 8px 10px;
    display: none;
  }
  .searchMobWrap.active {
    display: block;
  }
  .searchMobWrap .searchBoxWrap {
    border-radius: 25px;
    background: url("../i/searchBoxIcon.png") no-repeat 12px center #fff;
    background-size: 15px 16px;
    padding: 0 15px 0 30px;
  }
  .searchBoxWrap .searchBox {
    border: 0;
    width: 95%;
    font-size: 12px;
    color: #666;
    outline: 0;
    padding-bottom: 5px;
  }
  header figure {
    display: none;
  }
  #nav-bg {
    display: none;
  }
  .header-mob {
    height: 43px;
    float: left;
    width: 100%;
    background: url("../i/bg-header-touch.jpg") repeat-x;
    position: relative;
    z-index: 9;
    display: block;
  }
  .header-mob img {
    margin: 7px 0 0 30px;
  }
  .header-mob ul {
    float: right;
    padding: 0;
    margin: 0;
  }
  .header-mob ul li {
    display: inline;
    line-height: 40px;
  }
  #menu-icon-point {
    background: url("../i/touch-menu-main.png") no-repeat scroll 0 0;
    width: 93px;
  }
  #menu-icon-lock {
    background: url("../i/touch-menu-lock.png") no-repeat scroll 0 0 transparent;
    width: 96px;
  }
  #menu-icon-point:focus,
  #menu-icon-point:hover,
  #menu-icon-lock:focus,
  #menu-icon-lock:hover {
    background-color: #13abe6;
  }

  .menu-touch li .drop {
    padding-right: 5px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 33px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
  }
  .menu-touch li a {
    font-weight: normal;
  }
  ul.rht li.searchIconmMob {
    background: url("../i/searchIcon.png") no-repeat 6px 2px transparent;
    background-size: 15px 12px;
    height: 15px;
    margin: 0;
    padding-right: 0;
    width: 23px;
  }
  ul.rht li.searchIconmMob.active {
    background: url("../i/searchIconactive.png") no-repeat 6px 2px transparent;
    background-size: 15px 12px;
  }
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
}
@media (max-width: 767px){
  .nav-top .lft {
    margin-left: 10px;
  }
  .nav-top .rht {
    margin-right: 13px;
  }
  .header-mob img {
    margin-left: 10px;
  }
}
