extends ../blocks/layout-default/layout-default

block head
	-var pageTitle = 'Открыть вклад (депозит) на 3 месяца от 8 процентов годовых в Ситибанке';
	-var pageDescription = 'Сделайте вклад на сумму от 400000 тысяч рублей на 91 день под высокий процент - 8 процентов годовых в Ситибанке и получите премиальный пакет банковских услуг Citi Priority.';
	-var pageKeywords = 'вклад на 3 месяца, под высокий процент, открыть вклад, большой вклад в банке';
	-var connonicalPage = 'russia/citione/rus/vklad-pod-vysoki-procent';

block content
	include ../blocks/Widgets/services/services
	include ../blocks/Widgets/frame/frame
	.article-page.topanimate.tabs.js-tabs
		.article__header
			.container
				.article__title
					h2 Какую сумму&nbsp;Вы планируете разместить?
			.tabs__list-wrap
				.container
					.tabs__list
						.tabs__item-wrap.js-tabs__item
							.dh-container
								.dh-overlay
								.tabs__item
									span.tabs__item-icon-wrap
										svg.tabs__item-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 44.4', enable-background='new 0 0 100 44.4', xml:space='preserve')
											g
												path(d='M62.8,18.5C62.8,18.5,62.8,18.5,62.8,18.5c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0,0,0-0.1,0-0.1\ c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0\ c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1L46.1,8.5l9.3-5.9L71,11.5l-6.6,4.1c-0.5,0.3-0.7,1-0.3,1.5\ c0.3,0.5,1,0.7,1.5,0.3l8.1-5.1c0.3-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.7-0.6-0.9L55.9,0.4c-0.4-0.2-0.8-0.2-1.1,0L43.4,7.6\ c0,0,0,0,0,0l-5.7,3.6c0,0,0,0,0,0l-11.4,7.2c-0.3,0.2-0.5,0.6-0.5,1c0,0.4,0.2,0.7,0.6,0.9L44,30.4c0.2,0.1,0.4,0.1,0.5,0.1\ c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5c-0.3-0.5-1-0.7-1.5-0.3l-7.6,4.8l-15.6-8.9l9.3-5.9l16.7,9.5v12.5\ c0,0.4,0.2,0.8,0.6,1c0.2,0.1,0.3,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l5.7-3.6c0.3-0.2,0.5-0.6,0.5-0.9V18.6c0,0,0,0,0,0\ C62.8,18.6,62.8,18.6,62.8,18.5L62.8,18.5z M57.1,33.4V22.2c0-0.4-0.2-0.8-0.6-1l-16.2-9.2L44,9.8l15.6,8.9l-1.4,0.9\ c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2l1.2-0.8v10.6L57.1,33.4z M57.1,33.4')
												path(d='M72.6,14.9L64.4,20c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C73.7,14.7,73.1,14.6,72.6,14.9L72.6,14.9z M72.6,14.9')
												path(d='M52.1,27.8l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L44,34.8\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C53.3,27.6,52.6,27.5,52.1,27.8L52.1,27.8z\ M52.1,27.8')
												path(d='M72.6,19.3l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C73.7,19.1,73.1,19,72.6,19.3L72.6,19.3z M72.6,19.3')
												path(d='M52.1,32.2l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L44,39.2\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C53.3,32,52.6,31.8,52.1,32.2L52.1,32.2z\ M52.1,32.2')
												path(d='M72.6,23.7l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C73.7,23.5,73.1,23.4,72.6,23.7L72.6,23.7z M72.6,23.7')
												path(d='M52.1,36.6l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L44,43.6\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C53.3,36.4,52.6,36.2,52.1,36.6L52.1,36.6z\ M52.1,36.6')

									span.tabs__item-text
										span.rubl 
											span.counter 400&nbsp;000
										|  +
						.tabs__item-wrap.js-tabs__item
							.dh-container
								.dh-overlay
								.tabs__item
									span.tabs__item-icon-wrap
										svg.tabs__item-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 44.4', enable-background='new 0 0 100 44.4', xml:space='preserve')
											g
												path(d='M37.8,18.5C37.8,18.5,37.8,18.5,37.8,18.5c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0,0,0-0.1,0-0.1\ c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0\ c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1L21.1,8.5l9.3-5.9L46,11.5l-6.6,4.1c-0.5,0.3-0.7,1-0.3,1.5\ c0.3,0.5,1,0.7,1.5,0.3l8.1-5.1c0.3-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.7-0.6-0.9L30.9,0.4c-0.4-0.2-0.8-0.2-1.1,0L18.4,7.6\ c0,0,0,0,0,0l-5.7,3.6c0,0,0,0,0,0L1.2,18.4c-0.3,0.2-0.5,0.6-0.5,1c0,0.4,0.2,0.7,0.6,0.9L19,30.4c0.2,0.1,0.4,0.1,0.5,0.1\ c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5c-0.3-0.5-1-0.7-1.5-0.3l-7.6,4.8L3.9,19.3l9.3-5.9l16.7,9.5v12.5\ c0,0.4,0.2,0.8,0.6,1c0.2,0.1,0.3,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l5.7-3.6c0.3-0.2,0.5-0.6,0.5-0.9V18.6c0,0,0,0,0,0\ C37.8,18.6,37.8,18.6,37.8,18.5L37.8,18.5z M32.1,33.4V22.2c0-0.4-0.2-0.8-0.6-1l-16.2-9.2L19,9.8l15.6,8.9l-1.4,0.9\ c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2l1.2-0.8v10.6L32.1,33.4z M32.1,33.4')
												path(d='M47.6,14.9L39.4,20c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C48.7,14.7,48.1,14.6,47.6,14.9L47.6,14.9z M47.6,14.9')
												path(d='M27.1,27.8l-7.6,4.8L2.3,22.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L19,34.8\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C28.3,27.6,27.6,27.5,27.1,27.8L27.1,27.8z\ M27.1,27.8')
												path(d='M47.6,19.3l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C48.7,19.1,48.1,19,47.6,19.3L47.6,19.3z M47.6,19.3')
												path(d='M27.1,32.2l-7.6,4.8L2.3,27.2c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L19,39.2\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C28.3,32,27.6,31.8,27.1,32.2L27.1,32.2z\ M27.1,32.2')
												path(d='M47.6,23.7l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C48.7,23.5,48.1,23.4,47.6,23.7L47.6,23.7z M47.6,23.7')
												path(d='M27.1,36.6l-7.6,4.8L2.3,31.5c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L19,43.6\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C28.3,36.4,27.6,36.2,27.1,36.6L27.1,36.6z\ M27.1,36.6')
											g
												path(d='M87.8,18.5C87.8,18.5,87.8,18.5,87.8,18.5c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0,0,0-0.1,0-0.1\ c0,0,0,0,0,0c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0\ c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0,0c0,0-0.1-0.1-0.1-0.1L71.1,8.5l9.3-5.9L96,11.5l-6.6,4.1c-0.5,0.3-0.7,1-0.3,1.5\ c0.3,0.5,1,0.7,1.5,0.3l8.1-5.1c0.3-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.7-0.6-0.9L80.9,0.4c-0.4-0.2-0.8-0.2-1.1,0L68.4,7.6\ c0,0,0,0,0,0l-5.7,3.6c0,0,0,0,0,0l-11.4,7.2c-0.3,0.2-0.5,0.6-0.5,1c0,0.4,0.2,0.7,0.6,0.9L69,30.4c0.2,0.1,0.4,0.1,0.5,0.1\ c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5c-0.3-0.5-1-0.7-1.5-0.3l-7.6,4.8l-15.6-8.9l9.3-5.9l16.7,9.5v12.5\ c0,0.4,0.2,0.8,0.6,1c0.2,0.1,0.3,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l5.7-3.6c0.3-0.2,0.5-0.6,0.5-0.9V18.6c0,0,0,0,0,0\ C87.8,18.6,87.8,18.6,87.8,18.5L87.8,18.5z M82.1,33.4V22.2c0-0.4-0.2-0.8-0.6-1l-16.2-9.2L69,9.8l15.6,8.9l-1.4,0.9\ c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2l1.2-0.8v10.6L82.1,33.4z M82.1,33.4')
												path(d='M97.6,14.9L89.4,20c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C98.7,14.7,98.1,14.6,97.6,14.9L97.6,14.9z M97.6,14.9')
												path(d='M77.1,27.8l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L69,34.8\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C78.3,27.6,77.6,27.5,77.1,27.8L77.1,27.8z\ M77.1,27.8')
												path(d='M97.6,19.3l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C98.7,19.1,98.1,19,97.6,19.3L97.6,19.3z M97.6,19.3')
												path(d='M77.1,32.2l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L69,39.2\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C78.3,32,77.6,31.8,77.1,32.2L77.1,32.2z\ M77.1,32.2')
												path(d='M97.6,23.7l-8.1,5.1c-0.5,0.3-0.7,1-0.3,1.5c0.2,0.3,0.6,0.5,0.9,0.5c0.2,0,0.4-0.1,0.6-0.2\ l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C98.7,23.5,98.1,23.4,97.6,23.7L97.6,23.7z M97.6,23.7')
												path(d='M77.1,36.6l-7.6,4.8l-17.2-9.8c-0.5-0.3-1.2-0.1-1.5,0.4c-0.3,0.5-0.1,1.2,0.4,1.5L69,43.6\ c0.2,0.1,0.4,0.1,0.5,0.1c0.2,0,0.4-0.1,0.6-0.2l8.1-5.1c0.5-0.3,0.7-1,0.3-1.5C78.3,36.4,77.6,36.2,77.1,36.6L77.1,36.6z\ M77.1,36.6')

									span.tabs__item-text
										span.rubl
											span.counter 4&nbsp;000&nbsp;000
										|  +
		.article__content
			.tabs__content.js-tabs__content
				#prioritybanking.tabs__content-item(style="display: none;")
					include ../blocks/Widgets/offers/offers-invest
					+services(servicesListInvest)
				#goldbundle.tabs__content-item.clr-gold(style="display: none;")
					include ../blocks/Widgets/offers/offers-gold
					+services(servicesListGold)
			include ../blocks/Widgets/feedback/feedback
			include ../blocks/Widgets/terms/terms