@font-face {
	font-family: "InterstateLight";
	font-style: normal;
	font-weight: normal;
	src: url("/russia/fonts/INTERSCL.eot?#iefix") format("embedded-opentype"),
			 url("/russia/fonts/INTERSCL.woff") format("woff"),
			 url("/russia/fonts/INTERSCL.ttf") format("truetype"),
			 url("/russia/fonts/INTERSCL.svg#InterstateLight") format("svg");
}
.bn-alert-tracking-block {
	background-color: rgba(0, 45, 114, 0.8);
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	justify-content: center;
	padding: 30px;
	position: fixed;
	width: 100%;
	z-index: 999999;
}
.bn-alert-tracking-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	max-width: 1400px;
}
.bn-alert-tracking-content p,
.bn-alert-tracking-content a {
	font: 12px/normal InterstateLight;
}
.bn-alert-tracking-content a {
	color: inherit;
	text-decoration: underline;
}
.bn-alert-tracking-close {
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	flex-shrink: 0;
	height: 30px;
	margin-bottom: 20px;
	opacity: 0.6;
	position: relative;
	text-align: center;
	transition: opacity 0.3s;
	will-change: opacity;
	width: 30px;
}
.bn-alert-tracking-close:hover {
	opacity: 1;
}
.bn-alert-tracking-close::after,
.bn-alert-tracking-close::before {
	background-color: #fff;
	content: "";
	height: 17px;
	left: 13px;
	position: absolute;
	top: 6px;
	transform: rotate(45deg);
	width: 2px;
}
.bn-alert-tracking-close::after {
	transform: rotate(135deg);
}
.bn-hidden {
	display: none;
}
.bn-slide-bottom {
	animation: bn-fade-bottom 0.3s;
}
.bn-animation-reverse {
	animation-direction: reverse;
}
@media (min-width: 576px) {
	.bn-alert-tracking-content {
		align-items: stretch;
		flex-direction: row;
	}
	.bn-alert-tracking-close {
		margin: 0 0 0 20px;
		order: 1;
	}
}
@media (min-width: 992px) {
	.bn-alert-tracking-content p,
	.bn-alert-tracking-content a {
		font-size: 14px;
	}
}
@keyframes bn-fade-bottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}