.offers {
    background-color: #0e2946;
    padding: 140px 0 100px;
    color: #fff;
    transition: all 150ms cubic-bezier(0.77, 0, 0.175, 1);

    @media #{$tablet}{
        padding-top: 70px;
        padding-bottom: 40px;
    }

    &__wrap {
        min-height: 610px;
        max-width: 1010px;
        border: 1px solid #779ec0;
        padding-bottom: 68px;
        margin: 0 auto;
        box-sizing: border-box;

        @media #{$onlydevice}{
            max-width: 640px;
            min-height: 520px;
            padding-bottom: 28px;
        }
    }

    &__footer {
        text-align: center;
        padding-top: 56px;

        @media #{$phone}{
            padding-top: 30px;
        }
    }

    &__title {
        text-align: center;
        margin-top: -40px;
        margin-bottom: 94px;

        @media #{$tablet}{
            margin-top: -34px;
            margin-bottom: 20px;
        }

        @media #{$phone}{
            margin-top: -46px;
        }

        h4 {
            background-color: #0e2946;
            font-size: 51px;
            font-family: $font-interstate-reg;
            color: #fff;
            display: inline-block;
            padding-left: 4px;
            padding-right: 4px;

            @media #{$tablet}{
                font-size: 38px;
            }
            
            @media #{$phone}{
                max-width: 200px;
                font-size: 30px;
                font-family: $font-interstate-light;
            }
        }

        sup {
            font-size: 24px;
            top: -0.8em;

            @media #{$onlyphone}{
                font-size: 18px;
            }
        }

        span {
            font-size: 18px;
            display: inline-block;
            width: 100%;
        }
    }

    &__list {
        width: 100%;
        display: table;
        table-layout: fixed;

        &.scrollbar {
            @media #{$onlydevice}{
                // height: 400px;
                // overflow: hidden;
                display: block;
            }
        }
    }

    &__list-item {
        display: table-cell;
        width: 50%;
        padding-left: 68px;
        padding-right: 25px;
        box-sizing: border-box;

        @media #{$tablet}{
            width: 100%;
            display: block;
            padding-left: 25px;
            margin-top: 20px;
        }

        @media #{$phone}{
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }

        h5 {
            font-family: $font-interstate-reg;
            font-size: 22px;
            padding-bottom: 30px;
            color: #fff;
            position: relative;

            @media #{$onlyphone}{
                font-size: 20px;
                padding-bottom: 20px;
            }

            &:after {
                background-color: #00beff;
                width: 80px;
                height: 3px;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;

                @media #{$onlyphone}{
                    height: 2px;
                    width: 60px;
                }
            }
        }

        &:first-child {
            .features:after {
                content: "";
                width: 0;
                height: 100%;
                border-left: 1px solid #779ec0;
                position: absolute;
                top: 0;
                right: 0;
                margin-right: -35px;
                
                @media #{$onlydevice}{
                    display: none;
                }
            }
        }
    }

    .scroller-handle {
        width: 5px;
        background-color: #B3B3B3;
        border: medium none;
        border-radius: 0;
        right: 0;
    }
    
    .scroller-track {
        background-color: #E6E6E6;
    }

    .scroller-bar {
        width: 5px;
        background-color: #E6E6E6;
        border: medium none;
        right: 20px;
    }

    .scroller-setup .scroller-content,
    .scroller-active .scroller-content {
        padding: 0;
    }
}

.features {
    list-style: none;
    padding-left: 0;
    margin: 32px 0 0;
    position: relative;

    @media #{$phone}{
        margin-top: 20px;
    }

    &__item {
        padding-bottom: 20px;
        @include clearfix;
    }

    &__icon-wrap {
        float: left;
        padding-top: 3px;
    }

    &__icon {
        width: 42px;
        height: 42px;
        fill: #fff;

        @media #{$onlyphone}{
            width: 26px;
            height: 26px;
        }
    }

    &__body {
        display: table-cell;
        vertical-align: top;
        padding-left: 30px;

        @media #{$onlydevice}{
            padding-left: 20px;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 0;

        @media #{$onlyphone}{
            font-size: 14px;
        }
    }
}

.clr-gold {
    .offers {
        background: url("bg-pattern-gold.jpg#datauri") repeat 0 0 #fff;
    }

    .offers__wrap {
        border-color: #979797;
    }

    .offers__title h4 {
        background: url("bg-pattern-gold.jpg#datauri") repeat 0 0 #fff;
    }

    .offers__list-item h5:after {
        background-color: #b4965a;
    }

    .offers__list-item:first-child .features:after {
        border-color: #979797;
    }

    .offers__footer .btn {
        @include button-variant($white, #ae9054, #ae9054);
    }
    
    .services__title h2:after {
        background-color: #b4965a;
    }

    .services-slider__item {
        background: linear-gradient(#d0b174 0%, #ae9054 100%);
        width: 32.2%;
        margin: 0;
        
        &+ .services-slider__item {
            border-left: 1px solid #b09256;

            @media #{$onlydevice}{
                border-left: medium none;
            }
        }
    }
}