.offers
	.container
		.offers__wrap
			.offers__title
				h4 Вклад&nbsp;8,5% годовых<sup>1</sup>
				span На&nbsp;3&nbsp;месяца/от 400&nbsp;тыс. руб.
			.offers__list.scrollbar
				.offers__list-item
					h5 Преимущества вкладов Ситибанка:
					ul.features
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									g
										path(d='M355.6,63.2c-35.5-35.5-82.7-55-132.8-55c-51.1,0-98.9,20.1-134.5,56.7\ c-3.9,4-3.8,10.4,0.2,14.3c4,3.9,10.4,3.8,14.3-0.2c31.9-32.6,74.4-50.6,120-50.6c92.4-0.1,167.6,75.1,167.6,167.5\ c0,92.4-75.2,167.6-167.6,167.6S55.1,288.4,55.1,196v-2.1l16.7,16.7c1.9,1.9,4.6,2.9,7.2,2.9c2.6,0,5.1-1,7.2-2.9\ c4-4,4-10.4,0-14.3l-33.9-34c-4-4-10.4-4-14.3,0l-34,34c-4,4-4,10.4,0,14.3c4,4,10.4,4,14.3,0L35,193.9v2.1\ c0,50.1,19.6,97.3,55,132.8c35.5,35.5,82.7,55,132.8,55c50.1,0,97.3-19.6,132.8-55c35.5-35.5,54.9-82.7,54.9-132.8\ C410.6,145.8,391,98.7,355.6,63.2L355.6,63.2z M355.6,63.2')
										path(d='M276.5,127.6L152.3,251.8c-4,4-4,10.4,0,14.3c1.9,1.9,4.6,2.9,7.2,2.9c2.6,0,5.1-1,7.2-2.9l124.2-124.2c4-4,4-10.4,0-14.3\ C286.9,123.7,280.5,123.7,276.5,127.6L276.5,127.6z M276.5,127.6')
										path(d='M244,211.2c-14.1,14.1-14.1,37.1,0,51.2c6.8,6.8,15.9,10.6,25.6,10.6c9.7,0,18.8-3.8,25.6-10.6\ c14.1-14.1,14.1-37.1,0-51.2c-6.8-6.8-15.9-10.6-25.6-10.6C259.9,200.6,250.9,204.4,244,211.2L244,211.2z M280.9,248.2\ c-3,3-7,4.6-11.3,4.6c-4.3,0-8.3-1.7-11.3-4.6c-6.2-6.2-6.2-16.3,0-22.6c3-3,7-4.6,11.3-4.6c4.3,0,8.3,1.7,11.3,4.6\ C287.1,231.8,287.1,241.9,280.9,248.2L280.9,248.2z M280.9,248.2') 
										path(d='M176.2,118.6c-9.7,0-18.8,3.8-25.6,10.6c-6.8,6.8-10.6,15.9-10.6,25.6c0,9.7,3.8,18.8,10.6,25.6\ c6.8,6.8,15.9,10.6,25.6,10.6c9.7,0,18.8-3.8,25.6-10.6c6.8-6.8,10.6-15.9,10.6-25.6c0-9.7-3.8-18.8-10.6-25.6\ C194.9,122.4,185.9,118.6,176.2,118.6L176.2,118.6z M187.5,166.2c-3,3-7,4.6-11.3,4.6c-4.3,0-8.3-1.7-11.3-4.6\ c-3-3-4.6-7-4.6-11.3c0-4.3,1.7-8.3,4.6-11.3c3-3,7-4.6,11.3-4.6c4.3,0,8.3,1.7,11.3,4.6c3,3,4.6,7,4.6,11.3\ C192.2,159.1,190.6,163.1,187.5,166.2L187.5,166.2z M187.5,166.2')
							.features__body
								p.features__text высокая доходность сбережений;
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									g
										path(d='M410.1,149.2c-1.3-4.1-4.9-7.1-9.2-7.7l-127.8-18.2L215.6,7.7c-1.9-3.9-5.9-6.3-10.2-6.3\ c-4.3,0-8.2,2.4-10.2,6.4l-56.7,115.9l-127.8,19c-4.3,0.7-7.8,3.6-9.2,7.7c-1.3,4.1-0.2,8.7,2.9,11.6l92.7,89.9L75.8,379.2\ c-0.8,4.3,1,8.6,4.5,11.1c1.9,1.4,4.3,2.2,6.6,2.2c1.8,0,3.6-0.4,5.3-1.3l114.1-60.4l114.4,59.8c1.7,0.8,3.4,1.3,5.2,1.3\ c6.2,0,11.4-5.1,11.4-11.3c0-0.9-0.1-1.8-0.3-2.6l-22.1-126.5l92.1-90.4C410.3,157.8,411.4,153.3,410.1,149.2L410.1,149.2z\ M294.9,239.2c-2.7,2.6-3.9,6.4-3.2,10.1L311,359.7l-99.4-51.9c-3.3-1.8-7.2-1.7-10.6,0l-99,52.5l18.6-110.5\ c0.6-3.7-0.6-7.4-3.3-10l-80.4-78l110.9-16.5c3.7-0.6,6.9-2.9,8.5-6.2l49.3-100.6l49.9,100.4c1.7,3.4,4.9,5.6,8.6,6.2l111,15.8\ L294.9,239.2z M294.9,239.2')
							.features__body
								p.features__text Ситибанк&nbsp;&mdash; входит в&nbsp;топ-5 самых надежных банков России (по&nbsp;версии Forbes за&nbsp;апрель 2017);
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									g
										path(d='M350.1,23H59.9c-26.2,0-47.5,21.3-47.5,47.5v184.1c0,26.2,21.3,47.5,47.5,47.5h134.3v45.4h-67c-6,0-10.8,4.8-10.8,10.8\ s4.8,10.8,10.8,10.8h155.5c6,0,10.8-4.8,10.8-10.8s-4.8-10.8-10.8-10.8h-67v-45.4h134.3c26.2,0,47.5-21.3,47.5-47.5V70.5\ C397.6,44.2,376.4,23,350.1,23L350.1,23z M59.9,44.6h290.3c14.2,0,25.9,11.6,25.9,25.9v153.8H34V70.5C34,56.2,45.6,44.6,59.9,44.6\ L59.9,44.6z M350.1,280.5H59.9c-14.2,0-25.9-11.6-25.9-25.9v-8.6H376v8.6C376,268.8,364.4,280.5,350.1,280.5L350.1,280.5z\ M350.1,280.5')
							.features__body
								p.features__text дистанционное управление вкладами через мобильный и&nbsp;интернет-банк, а&nbsp;также по&nbsp;телефону;
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									g
										path(d='M407.2,132.5L342.4,16.3c-2.2-3.9-6.3-6.3-10.8-6.3H80c-4.5,0-8.6,2.4-10.8,6.3L4.4,132.5\ c-2.5,4.4-2,9.9,1.2,13.8l190.7,234.1c0.1,0.1,0.1,0.1,0.2,0.2c0.2,0.2,0.4,0.5,0.6,0.7c0,0,0,0.1,0.1,0.1c0.1,0,0.1,0.1,0.2,0.2\ c0,0,0,0,0.1,0.1c0.2,0.2,0.4,0.4,0.7,0.6c0.1,0.1,0.2,0.2,0.3,0.3c0.2,0.2,0.5,0.4,0.7,0.5c0.1,0.1,0.2,0.2,0.4,0.2\ c0.2,0.1,0.4,0.2,0.6,0.4c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.2,0.1c0.2,0.1,0.5,0.2,0.8,0.3c0.2,0.1,0.3,0.1,0.5,0.2\ c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.4,0.1,0.8,0.2,1.3,0.3c0.2,0,0.4,0.1,0.5,0.1c0.5,0.1,1,0.1,1.5,0.1\ c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.5,0,1,0,1.5-0.1c0.2,0,0.3-0.1,0.5-0.1c0.4-0.1,0.9-0.2,1.3-0.3c0.1,0,0.2,0,0.3-0.1\ c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0.2-0.1,0.3-0.1,0.5-0.2c0.3-0.1,0.5-0.2,0.8-0.3c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.3-0.1\ c0.2-0.1,0.4-0.2,0.7-0.4c0.1-0.1,0.2-0.2,0.4-0.2c0.3-0.2,0.5-0.3,0.7-0.5c0.1-0.1,0.2-0.2,0.3-0.3c0.2-0.2,0.5-0.4,0.7-0.6\ c0,0,0,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0.2-0.2,0.4-0.5,0.6-0.7c0.1-0.1,0.1-0.1,0.2-0.2L406,146.3\ C409.2,142.3,409.7,136.9,407.2,132.5L407.2,132.5z M230.2,34.7l34.9,91.5H146.6l34.9-91.5H230.2z M265.9,150.8l-60.1,182.4\ l-60.1-182.4H265.9z M119.8,150.8L173.2,313L41.1,150.8H119.8z M291.9,150.8h78.6L238.4,313L291.9,150.8z M375.5,126.2h-84\ l-34.9-91.5h67.9L375.5,126.2z M87.2,34.7h67.9l-34.9,91.5h-84L87.2,34.7z M87.2,34.7')
							.features__body
								p.features__text все привилегии пакета банковских услуг Citigold.
				.offers__list-item
					h5 Это предложение для Вас, если:
					ul.features
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									path(d='M28.2,209.9c-2.8-2.8-4.2-7-4.2-9.8c0-2.8,1.4-7,4.2-9.8l19.6-19.6c5.6-5.6,14-5.6,19.6,0\ l1.4,1.4l76.9,82.5c2.8,2.8,7,2.8,9.8,0L343,60.2h1.4c5.6-5.6,14-5.6,19.6,0l19.6,19.6c5.6,5.6,5.6,14,0,19.6L159.7,331.6\ c-2.8,2.8-5.6,4.2-9.8,4.2c-4.2,0-7-1.4-9.8-4.2L31,214.1L28.2,209.9z M28.2,209.9')
							.features__body
								p.features__text Вы&nbsp;хотели&nbsp;бы разместить сбережения в&nbsp;сумме от&nbsp;4&nbsp;млн рублей с&nbsp;высокой доходностью;
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									path(d='M28.2,209.9c-2.8-2.8-4.2-7-4.2-9.8c0-2.8,1.4-7,4.2-9.8l19.6-19.6c5.6-5.6,14-5.6,19.6,0\ l1.4,1.4l76.9,82.5c2.8,2.8,7,2.8,9.8,0L343,60.2h1.4c5.6-5.6,14-5.6,19.6,0l19.6,19.6c5.6,5.6,5.6,14,0,19.6L159.7,331.6\ c-2.8,2.8-5.6,4.2-9.8,4.2c-4.2,0-7-1.4-9.8-4.2L31,214.1L28.2,209.9z M28.2,209.9')
							.features__body
								p.features__text Вы&nbsp;не&nbsp;готовы рисковать и&nbsp;цените надежность и&nbsp;стабильность;
						li.features__item
							.features__icon-wrap
								svg.features__icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 410.7 392.9', enable-background='new 0 0 410.7 392.9', xml:space='preserve')
									path(d='M28.2,209.9c-2.8-2.8-4.2-7-4.2-9.8c0-2.8,1.4-7,4.2-9.8l19.6-19.6c5.6-5.6,14-5.6,19.6,0\ l1.4,1.4l76.9,82.5c2.8,2.8,7,2.8,9.8,0L343,60.2h1.4c5.6-5.6,14-5.6,19.6,0l19.6,19.6c5.6,5.6,5.6,14,0,19.6L159.7,331.6\ c-2.8,2.8-5.6,4.2-9.8,4.2c-4.2,0-7-1.4-9.8-4.2L31,214.1L28.2,209.9z M28.2,209.9')
							.features__body
								p.features__text Вы&nbsp;еще не&nbsp;являетесь клиентом Ситибанка.
		.offers__footer
			.btn.btn_white.btn_lg.GoldINVTD ОФОРМИТЬ