.modal-open {
    overflow: hidden;
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

     &.fade {
        .modal__dialog {
            transition: transform 0.3s ease-out;
            transform: translate(0, -25%);
        }
     }

    &.in {
        display: block;

        .modal__dialog {
            transform: translate(0, 50%);

            @media #{$phone} {
                transform: translate(0, 0);
            }
        }
    }

    &__dialog {
        position: relative;
        width: 1020px;
        margin: 0 auto;
        padding: 20px;

        @media #{$tablet}{
            width: 700px;
        }

        @media #{$phone} {
            width: 100%;
            max-width: 560px;
        }
    }

    &__content {
        position: relative;
        background-color: #0e2946;
        background-clip: padding-box;
        color: #fff;

        .clr-gold & {
            background-color: #b4965a;
        }
    }

    &__content-header {
        position: relative;
    }

    &__close {
        background: url('icon-close.svg#datauri') no-repeat 0 0;
        display: block;
        width: 22px;
        height: 22px;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 2;
        cursor: pointer;

        @media #{$phone} {
            width: 16px;
            height: 16px;
            top: 10px;
            right: 10px;
        }
    }

    &__content-body {
        position: relative;
        padding: 40px 50px;
        text-align: center;

        @media #{$phone} {
            padding: 15px 30px;
        }

        p {
            color: #fff;
            font-size: 26px;

            @media #{$tablet}{
                font-size: 22px;
            }

            @media #{$phone} {
                font-size: 18px;
            }
        }
    }
    &_iosfix {
        position: absolute;
        height: 100%;
        width: 100%;
        right: auto;
        bottom: auto;
    }
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1010;
    &.fade {
        opacity: 0;
    }
    &.in {
        opacity: 0.75;
    }
}