#popup-success.modal.fade.collapse
	.modal__dialog
		.modal__content
			.modal__content-header
				.modal__close
			.modal__content-body
				p <span class="user-name"></span>, Спасибо за&nbsp;заполнение онлайн-заявки!
				p Мы позвоним Вам в&nbsp;ближайшее время!
			.modal__footer