.frame {
    position: relative;
}

.bounce-img {
    width: 100%;
    height: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 97%, rgba(0, 0, 0, 0.65) 99%);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 40px 0 10px;
    box-sizing: border-box;
    visibility: hidden;

    @media #{$tablet}{
        visibility: visible;
    }
}

.hero-slider {
    position: relative;

    &__wrap {
        height: 385px;
        position: relative;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;

        @media #{$tablet}{
            height: 430px;
        }
    }

    &__full-width {
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        padding-top: 0;
        backface-visibility: hidden;
        transform: translateZ(0);

        h2, p, .btn {
            opacity: 0;
            transform: translateX(100px);

            .move-left & {
                opacity: 0;
                transform: translateX(-100px);
            }

            .selected & {
                opacity: 1;
                transform: translateX(0);
            }

            li.is-moving & {
                transition: opacity 0s 0.5s, transform 0s 0.5s;
            }
        }

        h2 {
            li.selected & {
                transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
            }
        }
        p {
            li.selected & {
                transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
            }
        }
        .btn {
            li.selected & {
                transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
            }
        }
    }

    &__item {
        width: 100%;
        height: 100%;
        background: none no-repeat 50% 50%;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(100%);

        &.selected {
            position: relative;
            transform: translateX(0px);
        }

        &.move-left {
            transform: translateX(-100%);
        }

        &.is-moving, &.selected {
            transition: transform 0.5s ease 0s;
        }
    }
    
    h2, p {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        line-height: 1.2;
        margin: 0 auto 0;
        color: #ffffff;
    }
    
    h2 {
        font-size: 38px;
        font-family: $font-interstate-light;
    }

    p {
        font-size: 18px;
        line-height: 1.4;

        @media #{$phone}{
            font-size: 16px;
        }
    }

    &__nav {
        position: absolute;
        width: 100%;
        bottom: 32px;
        z-index: 2;
        text-align: center;
        height: 15px;

        @media #{$tablet}{
            height: 10px;
            bottom: 62px;
        }

        nav, ul, li, a {
            height: 100%;
            position:relative;
        }
        
        nav {
            display: inline-block;
            vertical-align: top;
            right:6px
        }

        ul {
            @include clearfix;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            width: 15px;
            float: left;
            margin:0 0 0 8px;

            @media #{$tablet}{
                width: 10px;
            }

            &.selected {
                a {
                    color: #2c343b;
                    
                    &:before {
                        background-color: #fff;
                    }

                    &:hover {
                        .no-touch & {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        a {
            display: block;
            position: relative;
            padding-top: 0;
            font-size: 14px;
            font-weight: 700;
            color: #a8b4be;
            transition: background-color 0.2s;

            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                top: 0;
                left: 50%;
                right: auto;
                transform: translateX(-50%);
                background:#555;

                @media #{$tablet}{
                    width: 10px;
                    height: 10px;
                }
            }

            &:hover {
                .no-touch & {
                    background-color: rgba(0, 1, 1, 0.5);
                }
            }
        }
    }

    &__marker {
        position: absolute;
        bottom:0;
        left: 0;
        width: 15px;
        height: 100%;
        color: #d44457;
        transition: transform 0.2s, box-shadow 0.2s;

        @for $i from 2 through 5 {
            &.item-#{i} {
                transform: translateX(($i*100%) - 100%);
            }
        }
    }

    &__box {
        width: 490px;
        height: 320px;
        background: rgba(53,53,53, 0.8);
        padding: 40px 50px;
        margin: auto;
        font-size: 26px;
        position: absolute;
        top: 0;
        bottom: 0;
        box-sizing: border-box;

        @media #{$laptop}{
            width: 400px;
            padding: 25px 20px;
            height: 280px;
        }

        @media #{$tablet}{
            width: 380px;
            height: 250px;
            font-size: 16px;
        }

        @media #{$phone}{
            width: 86%;
            height: 270px;
        }

        a {
            text-decoration: none;
        }

        p {
            border-bottom: 1px solid rgba(255,255,255, 0.8);
            padding: 0 0 15px 0;
            margin-bottom: 30px;

            @media #{$phone}{
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
        }

        h2 {
            color: $color-gold;
            margin-bottom: 18px;

            @media #{$tablet}{
                font-size: 34px;
            }
        }

        sup {
            font-size: 18px;
            position: relative;
            top: -2px;
            vertical-align: super;
        }
    }

    &__box-label {
        display: block;
        overflow: hidden;
        margin-top: -12px;

        span {
            margin: 0;
            position: relative;
            color:#fff;

            &:after {
                content: "";
                border-top: 1px solid #fff;
                width: 100%;
                height: 0;
                margin-left: 4px;
                margin-top: 4px;
                position: absolute;
                left: 100%;
                top: 50%;

                @media #{$tablet}{
                    margin-top: 2px;
                }
            }
        }
    }

    &__box_blue {
        background:rgba(27, 53, 80, 0.8);

        h2 {
            color:#fff;
        }

        .btn_primary {
            @include button-variant(#004785, $white, $white);
        }
    }
}
