.frame
	.hero-slider
		ul.hero-slider__wrap.autoplay
			li.hero-slider__item.selected(style="background-image: url('content/hero-slider/image_01.jpg')")
				.hero-slider__full-width
					.container
						.hero-slider__box.hero-slider__box_blue
							span.hero-slider__box-label
								span Прикоснуться к&nbsp;высокому
							h2 Вклад&nbsp;8% годовых<sup>1</sup>
							p <span class="font-reg">на&nbsp;91&nbsp;день</span><br class="visible_d"><span> от&nbsp;400&nbsp;тыс. рублей</span>
							.btn.btn_primary.btn_lg.link1 ОФОРМИТЬ
			li.hero-slider__item(style="background-image: url('content/hero-slider/image_02.jpg')")
				.hero-slider__full-width
					.container
						.hero-slider__box
							span.hero-slider__box-label
								span Прикоснуться к&nbsp;высокому
							h2 Вклад&nbsp;8,5% годовых<sup>1</sup>
							p <span class="font-reg">на&nbsp;91&nbsp;день</span><br class="visible_d"><span> от&nbsp;4&nbsp;млн рублей</span>
							.btn.btn_primary.btn_lg.link2 ОФОРМИТЬ
		.hero-slider__nav
			nav
				span.hero-slider__marker.item-1
				ul
					li.selected
						a(href="#0")
					li
						a(href="#0")
	.bounce-img
		.bounce-img__wrap.bounce.aniscroll
			img.bounce-img__icon(src="f/i/scroll_down.png", title="Scroll to explore offers", alt="Scroll to explore offers")
