head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')

	block head
		title= pageTitle || ''
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')
	link(rel='shortcut icon', href='f/i/favicon.ico', type='image/x-icon')
	link(rel='icon', href='f/i/citi-fav.ico', type='image/x-icon')
	link(rel='canonical', href='https://www.citibank.ru/' + connonicalPage + '.htm')

	link(rel='stylesheet', href='f/css/jquery.fs.selecter.css')
	link(rel='stylesheet', href='f/css/jquery.fs.scroller.css')
	link(rel='stylesheet', href='f/css/main.css')
	script(src='f/js/vendor/jquery.min.js')
	script(src='f/js/header.js')
