.feedback {
    background: url("bg-pattern-lines.jpg#datauri") repeat 0 0 #fff;
    padding-top: 32px;
    padding-bottom: 46px;
    // display: none;

    @media #{$phone}{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    &__title {
        text-align: center;

        h2 {
            font-size: 28px;

            @media #{$phone}{
                font-size: 22px;
            }
        }
    }

    &__content {
        padding-top: 43px;
        position: relative;

        @media #{$phone}{
            padding-top: 23px;
        }

        &:before {
            content: "";
            width: 100%;
            height: 0;
            border-top: 1px solid #d2d2d2;
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;

            @media #{$phone}{
                top: 60px;
            }
        }
    }
}

.feedback.clr-gold {
    background: url("bg-pattern-gold-light.jpg#datauri") repeat 0 0 #fff;

    .form__icons-name {
        color: #ae9054;
    }

    .form__control {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
        border-color: $white;
        height: 50px;
        @include placeholder(#919191);

        &:focus {
            border-color: rgba(0, 0, 0, 0.15);
        }
    }

    .form__item.has-error .form__control {
        border-color: $error-color;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .form__item.has-complete .form__control {
        border-color: #68bb2d;
    }

    .btn_submit {
        background: linear-gradient(to bottom, lighten(#3d2f24, 10%) 0%, lighten(#3d2f24, 10%) 100%);
        height: 50px;
        font-size: 16px;
        line-height: 2.428571429;

        &:hover,
        &:focus,
        &.focus {
            color: $white;
            background: linear-gradient(to bottom, #3d2f24 0%, #3d2f24 100%);
        }
    }
}