.feedback(style="display: none;")
	.feedback__title
		.container
			h2 Оставьте заявку на&nbsp;размещение вклада.
	.feedback__content
		.container
			form#cgclient.form(enctype='multipart/form-data', name='cgclient', autocomplete='off', action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/")
				.form__header
					.form__icons-wrap.form__icons-wrap_light
						.form__icons-item
							span.form__icons-icon
								img(src="content/form/icons/icon-edit.svg")
							p.form__icons-name Введите свои контактные данные.
						.form__icons-item
							span.form__icons-icon
								img(src="content/form/icons/icon-phone-call.svg")
							p.form__icons-name Мы&nbsp;перезвоним Вам.
					.form__icons-wrap.form__icons-wrap_gold
						.form__icons-item
							span.form__icons-icon
								img(src="content/form/icons/icon-invoice.svg")
							p.form__icons-name Введите свои контактные данные.
						.form__icons-item
							span.form__icons-icon
								img(src="content/form/icons/icon-phone-call-2.svg")
							p.form__icons-name Мы&nbsp;перезвоним Вам.
				.form__content
					.form__item
						input#fam.form__control.js-requere(type='text', tabindex='1', value='', maxlength='50', name='Fname', placeholder='Имя Фамилия')
						.error Некорректно заполнено поле
					.form__item
						input#phonenum.form__control.js-requere(type='text', tabindex='1', value='', maxlength='15', name='phonenum11', placeholder='Номер телефона')
						.error
				.form__footer
					#submit.btn.btn_md.btn_submit ОТПРАВИТЬ
				.form__disclamer
					p Нажимая &laquo;Отправить&raquo;, я&nbsp;соглашаюсь на&nbsp;обработку моих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;ООО &laquo;Телеконтакт&raquo;.