mixin services(obj)
	each value in obj
		.services
			.services__bg(style="background-image: url('" + value.background + "')")
				.container
					.services__title-wrap
						.services__title
							h2!= value.title
					if(value.list)
						ul.services-slider
							each listItem in value.list
								li.services-slider__item
									.services-slider__item-icon-wrap
										img.services-slider__item-icon(src=listItem.img)
									p!= listItem.text