.services {
    height: 510px;

    &__bg {
        width: 100%;
        height: 100%;
        background: none no-repeat 50% 50%;
        background-attachment: fixed;
        background-size: cover;
    }

    &__title-wrap {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 155px;
        position: relative;
        overflow: hidden;
    }
    
    &__title {
        display: table-cell;
        width: 100%;
        vertical-align: middle;

        h2 {
            font-size: 28px;
            color: #fff;
            margin-top: 0;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 0;
            text-align: center;

            @media #{$phone}{
                font-size: 22px;
            }

            &:after {
                background-color: #00beff;
                width: 100px;
                height: 3px;
                content: ' ';
                overflow: hidden;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);

                @media #{$phone}{
                    height: 2px;
                }
            }

        }
    }
}

.services-slider {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;

    @media #{$onlydevice}{
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        width: 27.5%;
        height: 260px;
        background-color: #0F2A48;
        margin: 0 15px;
        color: #fff;
        text-align: center;
        padding: 0 20px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;

        &:focus {
            outline: 0 none;
        }

        p {
            font-size: 16px;

            @media #{$onlylaptop}{
                font-size: 14px;
            }
        }
    }

    &__item-icon-wrap {
        width: 134px;
        height: 134px;
        margin: 18px auto 4px;

        @media #{$laptop}{
            width: 114px;
            height: 114px;
        }

        @media #{$phone}{
            width: 94px;
            height: 94px;
        }
    }

    &__item-icon {
        max-width: 100%;
        height: auto;
    }

    .slick-dots li {
        height: auto;
        margin-left: 5px;
        margin-right: 5px;

        button {
            background-color: #fff;
            height: 3px;
            line-height: 0;
            font-size: 0;
            padding: 0;
            opacity: 0.35;

            &:before {
                display: none;
            }
        }

        &.slick-active {
            button {
                opacity: 1;
            }
        }
    }
}