.terms {
    background-color: #fff;
    padding-top: 44px;
    padding-bottom: 24px;

    &__title {
        color: #2b2b2b;
        font-size: 22px;
        font-family: $font-interstate-bold;
        text-align: center;
        margin-bottom: 24px;
    }

    &__content {
        border: 1px solid #cecece;
        border-radius: 3px;
        color: #2b2b2b;
        font-size: 14px;
        line-height: 16px;
        padding: 26px 12px 26px 30px;
        position: relative;

        &.end {
            &:after {
                height: 20px;
                bottom: 0;
            }
        }

        &:after {
            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.8) 30%, rgba(255,255,255,1));
            transition: all 100ms cubic-bezier(0.77, 0, 0.175, 1);
            content: "";
            width: 100%;
            height: 40px;
            pointer-events: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            z-index: 2;
        }

        p {
            margin-bottom: 0;

            &+ p {
                margin-top: 18px;
            }
        }
    }

    &__content-scroll {
        height: 406px;
        position: relative;
        padding-right: 18px;
        
        @media #{$onlydevice}{
            height: 306px;
        }
    }
}