.terms(style="display: none;")
	.container
		.terms__title
			p Важная информация
		.terms__content
			.terms__content-scroll.scrollbar
				p *Сити Приорити.
				p 1. Все условия договора вклада являются частью Условий банковского обслуживания физических лиц, размещенных на&nbsp;сайте <a href="www.citibank.ru" target="_blank">www.citibank.ru</a>. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. В&nbsp;день окончания срока вклада (депозита) Вы&nbsp;получите обратно свои деньги с&nbsp;начисленными процентами на&nbsp;тот счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены во&nbsp;вклад. Вклад (депозит) не&nbsp;может быть прекращен частично. В&nbsp;случае досрочного прекращения вклада по&nbsp;Вашему желанию Вам будет возвращена вся сумма вклада. При этом начисление процентов в&nbsp;случае досрочного прекращения вклада предусматривается по&nbsp;ставке 0,01% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. После размещения вклада его условия не&nbsp;меняются.
				p 2. Citi Priority&nbsp;&mdash; банковское обслуживание в&nbsp;рамках пакетов банковских услуг CitiOne и&nbsp;Citibank при поддержании среднемесячного баланса от&nbsp;400&nbsp;000 рублей (включительно). Рассмотрение заявления на&nbsp;банковское обслуживание и&nbsp;предоставление услуг в&nbsp;рамках пакетов банковских услуг осуществляется в&nbsp;предусмотренном Ситибанком порядке. Ознакомиться со&nbsp;всеми условиями договора и&nbsp;тарифами&nbsp;Вы можете на&nbsp;сайте <a href="www.citibank.ru" target="_blank">www.citibank.ru</a>.
				p 3. При поддержании среднемесячного баланса от&nbsp;400&nbsp;000 рублей (включительно). В&nbsp;соответствии с&nbsp;условиями банковского обслуживания физических лиц среднемесячный баланс рассчитывается путем сложения ежедневных положительных остатков денежных средств (на&nbsp;начало дня) по&nbsp;всем счетам клиента в&nbsp;Ситибанке в&nbsp;течение месяца и&nbsp;деления этой суммы на&nbsp;количество календарных дней в&nbsp;соответствующем месяце. При среднемесячном балансе за&nbsp;предшествующий календарный месяц менее 400&nbsp;000 рублей или эквивалента в&nbsp;других валютах комиссия за&nbsp;банковское обслуживание составляет 250 рублей в&nbsp;месяц.
				p 4. Держатель дебетовой карты становится участником программы Citi Select с&nbsp;момента подтверждения своего согласия с&nbsp;правилами программы после выпуска карты. При этом такой участник вправе распорядиться селектами, начисленными ему Ситибанком, и&nbsp;до&nbsp;момента подтверждения согласия с&nbsp;правилами программы Citi Select. Вознаграждение по&nbsp;карте начисляется Ситибанком по&nbsp;его усмотрению и&nbsp;в&nbsp;течение срока действия карты, определенного в&nbsp;договоре с&nbsp;клиентом. Информация о&nbsp;Ситибанке, размере вознаграждения, правилах, порядке и&nbsp;сроках его начисления&nbsp;&mdash; на&nbsp;<a href="www.citibank.ru" tyarget="_blank">www.citibank.ru</a>.
				p 5. Все привилегии Citigold, за&nbsp;исключением привилегий &laquo;Консьерж&raquo; и&nbsp;&laquo;Юридическая консультация&raquo;, доступны только при условии поддержания Среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегий. В&nbsp;целях предоставления привилегий могут учитываться как суммы, находящиеся на&nbsp;счетах клиента в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, так и&nbsp;суммы, находящиеся на&nbsp;его счетах в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, в&nbsp;соответствии с&nbsp;Условиями банковского обслуживания. При этом, если в&nbsp;целях предоставления привилегий учитываются суммы, находящиеся на&nbsp;счетах клиента в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, у&nbsp;клиента возникает доход в&nbsp;натуральной форме, с&nbsp;которого должен быть уплачен налог на&nbsp;доходы физических лиц в&nbsp;соответствии с&nbsp;законодательством РФ. Удержание с&nbsp;налогоплательщика начисленной суммы налога производится налоговым агентом за&nbsp;счет любых денежных средств, выплачиваемых налоговым агентом налогоплательщику. Клиент может получить справку 2-НДФЛ о&nbsp;доходах/удержанных налогах за&nbsp;год от&nbsp;Банка после представления такой справки в&nbsp;налоговый орган по&nbsp;месту учета Банка, но&nbsp;не&nbsp;ранее 1&nbsp;апреля года, следующего за&nbsp;отчетным. В&nbsp;случае отказа от&nbsp;получения привилегий и(или) денежного вознаграждения клиент обязуется уведомить банк о&nbsp;таком отказе в&nbsp;письменной форме до&nbsp;начала участия в&nbsp;программе привилегий. В&nbsp;противном случае согласие клиента на&nbsp;участие в&nbsp;программе привилегий и&nbsp;удержание налога за&nbsp;счет всей денежной выплаты будет считаться полученным АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
				p Среднемесячный баланс рассчитывается в&nbsp;соответствии с&nbsp;условиями банковского обслуживания АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; путем сложения ежедневных положительных остатков денежных средств на&nbsp;начало дня по&nbsp;всем счетам клиента в&nbsp;Ситибанке в&nbsp;течение месяца и&nbsp;деления этой суммы на&nbsp;количество календарных дней в&nbsp;соответствующем месяце. Среднемесячный баланс включает остатки по&nbsp;брокерским счетам и&nbsp;счетам депо. Страховые продукты не&nbsp;учитываются при подсчете среднемесячного баланса.
				p 6. Тридцать проходов в&nbsp;бизнес-залы аэропортов в&nbsp;течение календарного года. Полный список городов, адреса и&nbsp;месторасположение бизнес-залов уточняйте у&nbsp;Вашего персонального менеджера или по&nbsp;телефонам службы поддержки: в&nbsp;Москве&nbsp;+7 (495) 775-77-77, в&nbsp;Санкт-Петербурге +7 (812) 336-38-38, в&nbsp;других городах РФ&nbsp;8 (800) 700-91-91, а&nbsp;также смотрите на&nbsp;сайте www.citigold.ru. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;размере не&nbsp;более стоимости прохода в&nbsp;бизнес-зал аэропорта, установленной в&nbsp;официально опубликованных тарифах бизнес-зала (договоре, заключаемом с&nbsp;Клиентом в&nbsp;отношении прохода в&nbsp;бизнес-зал аэропорта), в&nbsp;адрес следующих получателей средств: ЗАО &laquo;ДОМОДЕДОВО ПЭССЕНДЖЕР ТЕРМИНАЛ&raquo; (Московская область, Домодедовскийрайон, территория Аэропорт &laquo;Домодедово&raquo;, стр.&nbsp;1), ООО &laquo;С&nbsp;7&nbsp;СЕРВИС&raquo; (Московская область, Домодедовский район, аэропорт &laquo;Домодедово&raquo;, 3-ий корпус Аэротеля), ООО &laquo;Ю-ТИ-ДЖИ ДОМОДЕДОВО&raquo; (г. Москва, ул. Айвазовского, д. 1А), ОАО &laquo;Аэропорт Кольцово&raquo; (г. Екатеринбург, ул. Спутников, д.&nbsp;6), ОАО &laquo;Международный Аэропорт Шереметьево&raquo; (г. Химки, аэропорт Шереметьево), ОАО &laquo;Аэропорт Ростов-на-Дону&raquo; (г. Ростов-на-Дону, проспект Шолохова, д. 270/1), ЗАО &laquo;Шеротель&raquo; (г. Химки, Шереметьево-2, Владение&#8470;&nbsp;3), ООО &laquo;Воздушные Ворота Северной Столицы&raquo; (Санкт-Петербург, Внуковская&nbsp;ул., д.&nbsp;2, литера&nbsp;А), в&nbsp;случае, если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов России&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;рублях, эквивалентной 30&nbsp;долларам США, в&nbsp;адрес получателя средств: MasterCard Europe&nbsp;SA (198A, Chaussee de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium), в&nbsp;случае, если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии.
				p 7. Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия ФСФР С &#8470;&nbsp;0290 77&nbsp;от&nbsp;28&nbsp;декабря 2011&nbsp;года). АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица, государственные органы и&nbsp;Российская Федерация не&nbsp;несут никаких обязательств по&nbsp;данному договору страхования.
				p 8.Два трансфера в&nbsp;год из/в аэропорты России. Под трансфером понимается поездка из/в аэропорт в/из города без заезда по&nbsp;третьим адресам. Трансферы из/в аэропорт в/из Московской области согласовываются с&nbsp;оператором Citigold CitiPhone.
				p 9. Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
				p 10. Инвестиционные продукты: Не&nbsp;застрахованы государством. Не&nbsp;являются банковским депозитом. Не&nbsp;гарантируются банком. Могут потерять стоимость, включая возможную потерю сумм основных инвестиций. Результаты инвестирования в&nbsp;прошлом не&nbsp;являются гарантией такой&nbsp;же доходности в&nbsp;будущем. Иностранные ценные бумаги, не&nbsp;допущенные к&nbsp;публичному размещению&nbsp;и (или) публичному обращению в&nbsp;Российской Федерации, а&nbsp;также иностранные финансовые инструменты, не&nbsp;являющиеся ценными бумагами, не&nbsp;могут предлагаться неограниченному кругу лиц или неквалифицированным инвесторам и&nbsp;могут приобретаться&nbsp;и (или) продаваться только квалифицированными инвесторами в&nbsp;рамках, определенных российским законодательством (Федеральный закон &#8470;&nbsp;39-ФЗ от&nbsp;22.04.1996 года &laquo;О&nbsp;рынке ценных бумаг&raquo;).
				p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
				p Генеральная лицензия на&nbsp;осуществление банковских операций Банка России &#8470;&nbsp;2557 от&nbsp;28&nbsp;июля 2015&nbsp;года. Адрес: 125047, Москва, ул. Гашека, дом 8-10, стр.&nbsp;1. Контактные телефоны: +7 (495) 775-75-75&nbsp;в Москве, +7 (812) 336-75-75&nbsp;в Санкт-Петербурге, 8 (800) 700-38-38 для звонков из&nbsp;других городов&nbsp;РФ. <a href="mailto:citibank.customer@citi.com">citibank.customer@citi.com</a>